<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Teams</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <%= link_to '+ Add New', new_team_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <%= form_tag(teams_path, method: :get) do %>
      <div class="mb-0 d-flex flex-wrap align-items-center gap-3 fs-6">

        <!-- Search input with fixed width -->
        <div class="input-group max-w-280">
          <%= text_field_tag :q, params[:q],
              class: 'form-control form-control-sm',
              placeholder: 'Filter by name',
              id: 'q'
          %>
          <%= button_tag type: 'submit', class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="bi bi-search-heart"></i>
          <% end %>
        </div>

        <!-- Checkboxes -->
        <div class="d-flex align-items-center gap-3">
          <div class="form-check form-check-inline mb-0">
            <%= check_box_tag :member,
                true,
                params[:member].present?,
                class: 'form-check-input',
                id: 'member',
                onchange: 'this.form.submit()'
            %>
            <label class="form-check-label" for="member">My Teams</label>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <div class="card-body">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th class="text-center">Members</th>
          <th class="text-center">Cases</th>
        </tr>
      </thead>
      <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td><%= team.id %></td>
            <td><%= link_to team.name, team_path(team) %></td>
            <td class="text-center"><%= team.members.count %></td>
            <td class="text-center"><%= team.cases.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer d-flex justify-content-center">
    <%== @pagy && @pagy.series_nav(:bootstrap) %>
  </div>
</div>
