<style>
    .field { padding: 5px; }
</style>

<%
  @path = ""
  @query_doc_pair = QueryDocPair.find(params["query_doc_pair_id"])
  if @judgement.persisted?
    @path = book_query_doc_pair_judgement_path
  else
    @path = book_query_doc_pair_judgements_path
  end
%>

<%= form_for([judgement], url: @path) do |form| %>
  <% if judgement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(judgement.errors.count, "error") %> prohibited this judgement from being saved:</h2>

      <ul>
        <% judgement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%
    @book_id = @query_doc_pair.book_id
    if @book_id == nil and params["book_id"] != nil
      @book_id = params["book_id"].to_i
    end
    if @book_id != nil
      @books = Book.all
      @book_name = nil
      @books.each do |b|
        if b.id == @book_id
          @book_name = b.name
          @book = b
        end
      end
    end

    if @query_doc_pair.user_id != nil
      @users = User.all
      @users.each do |u|
        if u.id == @query_doc_pair.user_id
          @user_name = u.email
        end
      end
    end
  %>


  <div class="field">
    Query Text: <%= @query_doc_pair.query_text.to_s %>
  </div>

  <div class="field">
    Document Fields: <%= @query_doc_pair.document_fields.to_s %>
  </div>

  <div class="field" style="visibility: hidden; display: none;">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field" style="visibility: hidden; display: none;">
    <%= form.label :query_doc_pair_id %>
    <%= form.text_field :query_doc_pair_id, :value => @query_doc_pair.id.to_s %>
  </div>

  <% if @user_name != nil %>
    <div class="field">
      Created by User: <%= @user_name %>
    </div>
  <% end %>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
