<p></p>
<h2>Judgements for Book <%= @book.name %></h2>

<%= render 'judgements/moar_judgements_needed', book: @book %>

<%= button_to "Back to Book #{@book.name}", @book, method: :get %>



<table class="table table-hover table-sm">
  <thead>
    <tr>
      
      <th>Query Doc ID</th>
      <th>Query</th>
      <th>Doc ID</th>
      <th>ID</th>
      <th>Document fields</th>
      <th>Rating</th>
      <th>Unrateable</th>
      <th>Rater</th>

    </tr>
    </thead>

    <tbody>
    <%
    last_query_doc_pair_id = nil
    table_row_style = nil #cycle('', 'table-primary')
    %>
    <% @judgements.each do |judgement| %>
        <% 
        if last_query_doc_pair_id != judgement.query_doc_pair_id
          table_row_style = cycle('table-active', '')
          last_query_doc_pair_id = judgement.query_doc_pair_id
        end
        %>
        <tr class="<%= table_row_style %>">
          <td>
            <%= judgement.query_doc_pair.id %> 
          </td>
          <td>
            <%= judgement.query_doc_pair.query_text %>
          </td>
          <td>
            <%= judgement.query_doc_pair.doc_id %>
          </td>
          <td>
            <%= link_to judgement.id, edit_book_query_doc_pair_judgement_path(@book, judgement.query_doc_pair, judgement) %>
          </td>
          <td>
            <%= truncate(judgement.query_doc_pair.document_fields, length: 100) %>
          </td>

          <td>
            <%= judgement.rating %>
          </td>
          <td>
            <%= judgement.unrateable? ? 'X' : '' %>
          </td>
          <td>
            <%= judgement&.user&.name %>
          </td>
        </tr>

    <% end %>
    </tbody>
  </table>
  <br>
