<!--<p id="notice"><%#= notice %></p>-->
<p></p>
<h1>Edit Judgement</h1>

<%
  @users = User.all
  @user_name_lookup = {}
  @users.each do |s|
    @user_name_lookup[s.id] = s.email
  end
%>


<%
  @books = Book.all
  @books_name_lookup = {}
  @books.each do |s|
    @books_name_lookup[s.id] = s.name
  end
  @query_doc_pair = @judgement.query_doc_pair
  @book_id = @query_doc_pair.book_id
  @book_name = @books_name_lookup[@query_doc_pair.book_id]
%>

<p>
  <strong>User:</strong>
  <%= @judgement.user_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @judgement.rating %>
</p>

<p>
  <strong>Query doc pair:</strong>
  <%= @judgement.query_doc_pair_id %>
</p>

<p>
  <strong>Created by User:</strong>
  <%= @user_name_lookup[@query_doc_pair.user_id] %>
</p>

<%

%>
<%= button_to 'Edit', edit_book_query_doc_pair_judgement_path(@judgement.query_doc_pair.book, @judgement.query_doc_pair, @judgement), method: :get %>
<br>
<%= button_to 'Back', book_judgements_path, method: :get %>
<br>