<div class="container">
  <div class="row">
    <div id="profile" class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="avatar pull-left">
        <%= image_tag current_user.avatar_url(:big), id: 'user-avatar', data: { avatar: 'big' } %>
      </div>

      <div class="name pull-left">
        <h2 id="name" data-name><%= current_user.display_name %></h2>
        <h3 id="email" data-email><%= current_user.email %></h3>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <%= form_with( model: current_user, url: profile_path) do |f| %>
        <legend>
          Profile
        </legend>
        <% if current_user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this from being saved:</h2>

            <ul>
            <% current_user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <label for="user_email" class="control-label">
            Email
          </label>
          <%= f.email_field :email, class: "form-control input-lg", placeholder: "Email" %>
          <span class="help-block">
            Your profile image displayed is sourced from <a href="http://gravatar.com" target="_blank">gravatar.com</a> based on your email address.
          </span>
        </div>

        <div class="form-group">
          <label for="user_name" class="control-label">
            Name
          </label>
          <%= f.text_field :name, class: "form-control input-lg", placeholder: "Name" %>
        </div>

        <div class="form-group">
          <label for="user_company" class="control-label">
            Company Name
          </label>
          <%= f.text_field :company, class: "form-control input-lg", placeholder: "Company Name" %>
        </div>

        <% if Rails.application.config.email_marketing_mode %>
        <div class="form-group">
          <label for="user_email_marketing" class="control-label">
            I want to receive updates about Quepid!
          </label>
          <%= f.check_box :email_marketing, class: "form-control input-lg" %>
        </div>
        <% end %>

        <div class="form-group">
          <%= f.submit 'Update profile', class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <%= form_with( model: current_user, url: account_path) do |f| %>
        <legend>
          Account
        </legend>

        <% if current_user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this from being saved:</h2>

            <ul>
            <% current_user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <label for="old" class="control-label">
            Old Password
          </label>
          <input id="old" type="password" name="current_password" class="form-control input-lg" placeholder="Old Password" />
        </div>

        <div class="form-group">
          <label for="new" class="control-label">
            New Password
          </label>
          <input id="new" type="password" name="password" class="form-control input-lg" placeholder="New Password" />
        </div>

        <div class="form-group">
          <label for="confirm" class="control-label">
            Confirm New Password
          </label>
          <input id="confirm" type="password" name="password_confirmation" class="form-control input-lg" placeholder="Confirm New Password" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">Update password</button>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <%= form_with( model: current_user, url: account_path,  method: :delete) do |f| %>
        <legend>
          <font color="red">Danger Zone</font>
        </legend>

        <% if current_user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this from being saved:</h2>

            <ul>
            <% current_user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


        <div class="form-group">
          <label for="confirm" class="control-label">
            This will remove you from any existing teams, and delete any cases that you are the owner and only member of, as well as associated
            snapshots and all ratings that have been made.
          </label>

          <%= f.submit 'Delete your account', class: 'btn btn-primary btn-lg', data: {confirm: "Are you sure you want to delete your account?"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
