
<section class="profile-hero-bg">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-8">
        <div class="card rounded-4">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <%= image_tag current_user.avatar_url(:big), id: 'user-avatar', class: 'img-fluid rounded w-180', title: 'Avatar image' %>
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1"><%= current_user.display_name %></h5>
                <p class="mb-2 pb-1 profile-text">
                  <%= current_user.email %>
                </p>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 profile-bg-muted">
                  <div>
                    <p class="small text-muted mb-1">
                      Cases
                    </p>
                    <p class="mb-0"><%= current_user.cases.count %></p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">
                      Teams
                    </p>
                    <p class="mb-0"><%= current_user.teams.count %></p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">
                      Queries
                    </p>
                    <p class="mb-0"><%= current_user.queries.count %></p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">
                      Ratings
                    </p>
                    <p class="mb-0"><%= current_user.judgements.count %></p>
                  </div>
                </div>
                <div class="d-flex pt-1">
                  <p class="small text-muted">
                    Member since <%= time_ago_in_words current_user.created_at %> ago
                  </p>
                  <!--
                  <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">
                    Chat
                  </button>
                  <button type="button" class="btn btn-primary flex-grow-1">
                    Follow
                  </button>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container centered-form">
  <div class="row mb-3">
    <hr/>
    <%= form_with( model: current_user, url: profile_path) do |f| %>

      <h2>
        Profile
      </h2>
      <% if current_user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this from being saved:</h2>

          <ul>
          <% current_user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-floating mb-3">

        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
        <label for="user_email" class="form-label">Email</label>
        <div id="emailHelp" class="form-text">Your profile image displayed is sourced from <a href="http://gravatar.com" target="_blank">gravatar.com</a> based on your email address.</div>
      </div>
      <div class="form-floating mb-3">

        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
        <label for="user_email" class="form-label">Name</label>
      </div>
      <div class="form-floating mb-3">
        <%= f.text_field :company, class: "form-control", placeholder: "Company Name" %>
        <label for="user_company" class="form-label">Company Name</label>
      </div>

      <% if Rails.application.config.email_marketing_mode %>
      <div class="mb-3 form-check">
        <%= f.check_box :email_marketing, class: "form-check-input" %>
        <label class="form-check-label" for="user_email_marketing">I want to receive updates about Quepid!</label>
      </div>
      <% end %>

      <button type="submit" class="btn btn-primary">Update profile</button>

    <% end %>
  </div>

  <div class="row mb-3">
    <hr/>
    <%= form_with( model: current_user, url: account_path) do |f| %>

      <h2>
        Account Security
      </h2>
      <% if current_user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this from being saved:</h2>

          <ul>
          <% current_user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-floating mb-3">
        <input id="old" type="password" name="current_password" class="form-control" placeholder="Password"/>
        <label for="old" class="form-label">Old Password</label>
      </div>
      <div class="form-floating mb-3">
        <input id="new" type="password" name="password" class="form-control"  placeholder="Password"/>
        <label for="new" class="form-label">New Password</label>
      </div>
      <div class="form-floating mb-3">
        <input id="confirm" type="password" name="password_confirmation" class="form-control" placeholder="Confirm New Password" />
        <label for="confirm" class="form-label">Confirm New Password</label>
      </div>

      <button type="submit" class="btn btn-primary">Update password</button>

    <% end %>
  </div>
  
  <div class="row mb-3">
    <hr/>

    <h2>
      Personal Access Tokens
    </h2>
    
    <p class="form-text">
      These tokens, sometimes called a Bearer Token, allow you to access Quepid's <%= link_to 'APIs', oas_rails_path %>. Treat these like you would your password!
      <br/>
      For example: <code>curl -H "Authorization: Bearer <%= current_user.api_keys.empty? ? "YOUR_TOKEN" : current_user.api_keys.first.token_digest %>" <%= link_to api_user_url(current_user), api_user_url(current_user) %></code> to look at your own details.
    </p>   
    <p>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>Api Key Id</th>
            <th>Token</th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% current_user.api_keys.each do |api_key| %>
            <tr>
              <td><%= api_key.id %></td>
              <td><%= api_key.token_digest %></td>
              <td><%= button_to 'Destroy', api_key_path(api_key),class: "btn btn-sm btn-outline-danger", method: :delete, data: { confirm: 'Are you sure you want to delete this personal access token?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </p>
    <p>    
    <%= button_to 'Generate new Token', api_keys_path, method: :post, class: 'btn btn-primary' %> 
    </p>

  </div>

  <div class="row mb-3">
    <hr/>
    <%= form_with( model: current_user, url: account_path,  method: :delete) do |f| %>

      <h2>
        <font color="red">Danger Zone</font>
      </h2>
      <% if current_user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this from being saved:</h2>

          <ul>
          <% current_user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <label for="confirm" class="form-text">
        This will remove you from any existing teams, and delete any cases that you are the owner and only member of, as well as associated
        snapshots and all ratings that have been made.
      </label>

      <%= f.submit 'Delete your account', class: 'btn btn-primary', data: {confirm: "Are you sure you want to delete your account?"} %>

    <% end %>
  </div>
</div>
