<% email_login_only = true %>
<div class="row m-t-20">
  <div class="col-md-5">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Sign in</h2>
      <div>
        <% if Rails.application.config.devise.omniauth_providers.include?(:google_oauth2) %>
        <% email_login_only = false %>
        <p>
          <%= button_to user_google_oauth2_omniauth_authorize_path, disabled: @flag_not_on_https, data: { turbo: "false" }, :class=> "btn btn-social btn-google" do %>
            <%= content_tag(:span, "", :class => "bi bi-google") %> Sign in with Google
          <% end %>
          <% if @flag_not_on_https %>
            Please <%= link_to "reload Quepid", new_session_url(protocol: 'https') %> using HTTPS to login via Google.
          <% end %>
        </p>
        <% end %>

        <% if Rails.application.config.devise.omniauth_providers.include?(:keycloak_openid) %>
        <% email_login_only = false %>
        <!-- <a href="https://www.flaticon.com/free-icons/digital" title="digital icons">Digital icons created by Freepik - Flaticon</a> -->
        <p>
          <%= button_to user_keycloakopenid_omniauth_authorize_path, data: { turbo: "false" }, :class=> "btn btn-social btn-openid" do %>
            <%= image_tag "openid-logo.png", :class => "black-to-white" %> Sign in with OpenId
            
          <% end %>
        </p>
        <% end %>

      </div>
      <% unless email_login_only %>
      <hr/>
      <% end %>
      <div>
        <% unless email_login_only %>
        <h4>Sign in via email:</h4>
        <% end %>
        <%= form_with model: @user, url: users_login_path, id: 'login', html: { method: :post,  data: {turbo: false} } do |f| %>
          <% if controller.class.to_s.include?("SessionsController") && @user.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                Unknown email/password combo. Double check you have the correct email address and password, or sign up for a new account.
              </div>
            </div>
          <% end %>
          <div class="mb-3">
            <%= f.text_field :email, class: 'form-control email', placeholder: 'Email Address' %>
          </div>

          <div class="mb-3">
             <%= f.password_field :password, class: 'form-control password', placeholder: 'Password' %>
          </div>
          <div>
            <%= link_to 'Forgot Password?', new_user_password_path %>
          </div>
          <br/>
          <%= f.submit 'Sign in', class: 'btn btn-primary login' %>
          <br/>

        <% end %>
      </div>
    </div>
  </div>
  <% if Rails.application.config.signup_enabled %>
  <div class="col-md-1 or-block col-sm-2">
    <h2>OR</h2>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <div>
        <%= form_for(@user, url: users_signup_path, id: 'signup', html: { method: :post, data: {turbo: false} }) do |f| %>

          <h2>Sign up to get started!</h2>
          <% if controller.class.to_s.include?("SignupsController") && @user.errors.any? %>
            <div id="error_explanation">
              <% @user.errors.full_messages.each do |message| %>
              <div class="alert alert-danger">
                <%= message %>
              </div>
              <% end %>
            </div>
          <% end %>
          <div class="mb-3">
             <%= f.text_field :name, class: 'form-control name', placeholder: 'Full Name' %>
          </div>

          <div class="mb-3">
            <%= f.text_field :email, class: 'form-control email', placeholder: 'Email Address' %>
          </div>

          <div class="mb-3">
             <%= f.password_field :password, class: 'form-control password', placeholder: 'Password' %>
          </div>

          <div class="mb-3">
              <%= f.password_field :password_confirmation, class: 'form-control password-confirm', placeholder: 'Confirm Password' %>
          </div>

          <% unless Rails.application.config.terms_and_conditions_url.blank? %>
          <div class="mb-3 form-check">
            <label>
              <%= f.check_box :agreed, class: 'form-check-input' %>
              Agree to
              <a href="<%= Rails.application.config.terms_and_conditions_url %>" target="_blank">terms &amp; conditions</a>?
            </label>
          </div>
          <% end %>

          <% if Rails.application.config.email_marketing_mode %>
          <div class="mb-3 form-check">
            <label>
              <%= f.check_box :email_marketing, class: 'form-check-input' %>
              Keep me in the know.  Send me occasional news about relevance tuning with Quepid (including new features). You can unsubscribe at any time.
            </label>
          </div>
          <% end %>

          <%= f.submit 'Sign up', class: 'btn btn-primary signup' %>

        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="p-5 mb-4">
  <div class="container-fluid py-5">
    <a href="http://www.opensourceconnections.com/2013/10/07/quepid-give-your-search-queries-some-love/">Read more</a> about the Quepid story. <a href="mailto:TalkToUs@opensourceconnections.com">Contact us</a>
    to talk about Quepid or ask how we can help with your search problems!
  </div>
</div>
