<div class="expand-content-wrapper" data-controller="expand-content">
  <button type="button" class="btn btn-outline-secondary" data-action="click->expand-content#open" data-expand-content-target="trigger" aria-label="<%= @trigger_label %>">
    <%= @trigger_label %>
    <i class="bi bi-arrows-angle-expand" aria-hidden="true"></i>
  </button>

  <div class="modal fade" id="<%= @id %>" tabindex="-1" aria-labelledby="<%= @id %>Label" aria-hidden="true" data-expand-content-target="modal">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="<%= @id %>Label"><%= @title %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <pre class="mb-0"><%= @body %></pre>
        </div>
      </div>
    </div>
  </div>
</div>
