<p id="notice"><%= notice %></p>

<h1>Selection Strategies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @selection_strategies.each do |selection_strategy| %>
      <tr>
        <td><%= selection_strategy.name %></td>
        <td><%= link_to 'Show', selection_strategy %></td>
        <td><%= link_to 'Edit', edit_selection_strategy_path(selection_strategy) %></td>
        <td><%= link_to 'Destroy', selection_strategy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Selection Strategy', new_selection_strategy_path %>
