<div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
  <div class="card h-100">
    <h5 class="card-header">
      <%= link_to book_title(book), book_path(book), data: { turbo_prefetch: false } %>
    </h5>
    
    <div class="card-body">
      <h5 class="card-title">
        <%= book.query_doc_pairs.size %> Query/Doc Pairs
      </h5>
      <p class="card-text"><%= book.judgements.size %> Judgements
      </p>
      <span id="notification-book-<%= book.id %>">
      </span>
      
      <%= link_to 'Judge', book_judge_path(book), data: { turbo_prefetch: false }, class: 'btn btn-sm btn-primary', role: 'button' %>
    </div> 
  </div>
</div>
