<tr>
  <th scope="row"><%= kase.case_name %></th>
  <td><%= kase.queries.count %></td>
  <% if true == false %>
  <td>
    <% unless kase.last_score.blank? %>
      <%= kase.last_score.score %>
    <% end %>
  </td>
  <td>
    <% unless kase.last_score.blank? %>
      <%= kase.last_score.created_at%>
    <% end %>
  </td>
  <td>
    <% unless kase.last_score.blank? %>
      <%= kase.last_score.user.name%>
    <% end %>
  </td>
  <% end %>
 
  <td>
    <%= link_to 'View', 
          case_core_path(kase, kase.last_try_number), 
          class: 'btn btn-sm btn-primary', 
          role: 'button',
          data: { turbo_frame: "_top" }
    %>
  </td>
</tr>
