<tr>
  <th scope="row"><%= kase.id  %></th>
  <th scope="row"><%= strip_case_title(kase) %></th>
  <td><%= kase.queries_count %></td>
  <td>
    <% unless kase.last_score.blank? %>
      <%= number_with_precision(kase.last_score.score, precision: 2) %>
    <% end %>
  </td>
  <td>
    <% unless kase.last_score.blank? %>
      <%= local_time_ago(kase.last_score.created_at) %>
    <% end %>
  </td>
  <td>
    <% unless kase.last_score.blank? %>
      <%= kase.last_score.user&.name %>
    <% end %>
  </td>
  <td><%= link_to_core_case 'View', kase, kase.last_try_number, class: 'btn btn-sm btn-primary', role: 'button' %>
  </td>
</tr>
