<turbo-frame id="case_frame_<%= @case.id %>">
  <h5 class="card-title"><%= number_with_precision(@case.last_score.score, precision: 2) unless @case.scores.empty? %> <%= @case.scorer.name %></h5>
  <p class="card-text">
    <% if @case.scores.empty? %>
      <small><code>no scores yet</code></small>
    <% else %>      
      <%= @case.first_score&.updated_at.to_date.to_fs(:short) || "No score available" %> 
      <% if @case.scores.count > 1 and @case.first_score.updated_at.to_date.to_fs(:short) != @case.last_score.updated_at.to_date.to_fs(:short) %>
        - <%= @case.last_score.updated_at.to_date.to_fs(:short)%>
      <% end %>
    <% end %>
  </p>       
 <%
  if !@prophet_case_data[:changepoint].zero? %>
    <% if @prophet_case_data[:changepoint].positive? %>
      <p class="card-text text-success"><%= number_to_percentage(@prophet_case_data[:changepoint] , precision:0) %> increase since <%=time_ago_in_words(@prophet_case_data[:last_changepoint]) %> ago</p>
    <% else %>
      <p class="card-text text-danger"><%= number_to_percentage(@prophet_case_data[:changepoint] , precision:0) %> decrease since <%=time_ago_in_words(@prophet_case_data[:last_changepoint]) %> ago</p>
    <% end %>
  <% else %>
    <p class="card-text">&nbsp;</p>
  <% end %>
  
  <%
  if @for_single_day
    # may not work since not sure about utc and time zones 
    vega_time = {scale: {type: "time"}, "domain": {"timeUnit": "hours"}}
  else
     vega_time = {scale: {type: "utc"}, axis: {format: "%b %e"}}
  end
  %>
  
  <%= Vega.lite
    .data(@prophet_case_data[:vega_data])
    .mark(type: "line", tooltip: true, interpolate: "cardinal", point: {size: 60})
    .encoding(
      x: {field: "x", type: "temporal"}.merge(vega_time),
      y: {field: "y", type: "quantitative"}
    )
    .height(60)
    .config(axis: {title: nil, labelFontSize: 12}) %>


</turbo-frame>
