<!--
Inspired by https://dev.to/themesberg/tutorial-how-to-build-a-simple-admin-dashboard-interface-using-bootstrap-5-2734
-->
<%= turbo_stream_from(:notifications) %>

<div class="toast-container top-0 end-0 p-3">
  <%= render partial: "consent_toast" %>
  
</div>

<div class="text-center">
    <p/>
    <h5 class="card-title"><%= Time.now.strftime("%A, %B %d") %></h5>
    <h2 class="card-title"><%= greeting() %>, <%= @current_user.fullname %></h2>
</div>

<div class="row my-4 card_summary_container">
  <%= render partial: "case_summary", collection: @most_recent_cases, as: :kase, cached: true %>
</div>

<div class="row my-4">
  <%= render partial: "book_summary", collection: @most_recent_books, as: :book, cached: true %>
</div>

<% if @cases.empty? && @most_recent_books.empty?  %>
  <div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Welcome to Quepid!</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        We're so excited that you are embarking on the journey to improving search quality!   There is so much to explore in Quepid.   However a good place to start is to create your first relevancy case using our demo datasets.
      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <%= button_to "Create Your First Relevancy Case", case_new_path, data: { turbo_prefetch: false }, method: :get, class: 'd-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">Cases</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col"># of Queries</th>
                            <th scope="col">Last Score</th>
                            <th scope="col">Last Run</th>
                            <th scope="col">Last Run By</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <%= render partial: "case", collection: @cases, as: :kase %>
                        </tbody>
                      </table>
                </div>
                <%= link_to 'View all Cases', cases_path(), class: 'btn btn-block btn-light', role: 'button' %>                
                
            </div>
        </div>      
      </div>
      <div class="col-12 col-xl-4">
        <% if true == false # disable%>
        <% @grouped_cases.keys[0..2].each do |key| %>
        <%= render partial: "grouped_cases", locals: {grouped_cases_name: key, grouped_cases: @grouped_cases[key]}%>
        <% end %>
        <% end %>
                      
      </div>
  </div>
<% end %>
