<!--
Inspired by https://dev.to/themesberg/tutorial-how-to-build-a-simple-admin-dashboard-interface-using-bootstrap-5-2734
-->

<!--
https://getbootstrap.com/docs/5.2/examples/navbars-offcanvas/# for example of offcanvas nav
-->
<div class="text-center">
    <p/>
    <h5 class="card-title"><%= Time.now.strftime("%A, %B %d") %></h5>
    <h2 class="card-title"><%= greeting() %>, <%= @current_user.name.titleize %></h2>
</div>



<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Navigation</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
  
    <div class="position-sticky pt-md-5">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            <span class="ml-2">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
            <span class="ml-2">Orders</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
            <span class="ml-2">Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
            <span class="ml-2">Customers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
            <span class="ml-2">Reports</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
            <span class="ml-2">Integrations</span>
          </a>
        </li>
      </ul>
    </div>
  
    
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
  
  
        <li class="nav-item">
          <% if current_page?(books_path) %>
            <span class="nav-link active">
              <i class="bi bi-book-half feather" aria-hidden="true" title="Books" alt="Books" class="align-text-bottom"></i>
              Books
            </span>
          <% else %>
            <%= link_to books_path, class: 'nav-link' do %>
              <i class="bi bi-book-half feather" aria-hidden="true" title="Books" alt="Books" class="align-text-bottom"></i>
              Books
            <% end %>
          <% end %>
        </li>
  
      </ul>
  
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
        <span>Saved reports</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle" class="align-text-bottom"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Current month
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Last quarter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Social engagement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Year-end sale
          </a>
        </li>
      </ul>
    </div>
    
  </div>
</div>


<div class="row my-4">
  <%= render partial: "case_summary", collection: @most_recent_cases, as: :kase %>
</div>

<div class="row">
    <div class="col-12 col-xl-8 mb-4 mb-lg-0">
      <div class="card">
          <h5 class="card-header">Cases Summary</h5>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Case Title</th>
                          <th scope="col"># of Queries</th>
                          <th scope="col">Last Score</th>
                          <th scope="col">Last Run On</th>
                          <th scope="col">Last Run By</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <%= render partial: "case", collection: @cases, as: :kase %>
                      </tbody>
                    </table>
              </div>
              <%= link_to 'View all', cases_path(), class: 'btn btn-block btn-light', role: 'button' %>
              
          </div>
      </div>      
    </div>
    <div class="col-12 col-xl-4">
        <div class="card">
            <h5 class="card-header">Traffic last 6 months</h5>
            <div class="card-body">
                <div id="traffic-chart"></div>
            </div>
        </div>
        
        <div class="card" styled="width: 18rem;">
          <h5 class="card-header">Recent Activity</h5>
          <div class="card-body">
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>
              <small class="text-muted">
              	<time datetime="2023-06-05T13:46:42Z" data-local="time-ago">June  5, 2023  1:46pm</time>
              	
              </small>
              <br/>
              <strong>
              	Guest
              </strong>
                added the report <a href="/raw_data/13262">Resource Utilization by Organization for TM v2.xml</a>.
</li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-edit"></span>
                <small class="text-muted">
                	<time datetime="2023-06-05T13:46:42Z" data-local="time-ago">June  5, 2023  1:46pm</time>
                	<img class="avatar" width="20" height="20" alt="OSCar" src="https://logo.clearbit.com/opensourceconnections.com" />
                </small>
                <br/>
                <strong>
                	OSCar
                </strong>
                  received a email2webhook call for <a href="/service_calls/14103">Resource Utilization by Organization for TM v2.xml</a>.
            </li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
</div>
            
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

<script>
    new Chartist.Line('#traffic-chart', {
        labels: ['January', 'Februrary', 'March', 'April', 'May', 'June'],
        series: [
            [23000, 25000, 19000, 34000, 56000, 64000]
        ]
        }, {
        low: 0,
        showArea: true
    });
</script>

<hr/>
<div id="vis"></div>

 <script type="text/javascript">
   var yourVlSpec = {
     "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
     "data": {
       "url": "http://localhost:3000/analytics/sparkline/vega_data.csv",
       "name": "dataset",
       "format": {"type": "csv"}
     },
     "facet": {
       "row": {
         "field": "state",
         "sort": {
           "field": "positiveIncrease",
           "op": "average",
           "order": "descending"
         }
       }
     },
     "spec": {
       "transform": [
         {
           "calculate": "datetime(slice(datum.date,0,4), slice(datum.date,4,6),[slice(datum.date,6,8)])",
           "as": "__date"
         }
       ],
       "height": 20,
       "layer": [
         {
           "mark": {"type": "area"},
           "encoding": {
             "x": {
               "field": "__date",
               "type": "temporal",
               "timeUnit": "monthdatehoursminutes",
               "axis": {
                 "title": null,
                 "orient": "top",
                 "domain": false,
                 "ticks": false,
                 "labels": false,
                 "grid": false
               }
             },
             "y": {
               "field": "positiveIncrease",
               "aggregate": "sum",
               "type": "quantitative",
               "axis": {
                 "title": null,
                 "domain": false,
                 "labels": false,
                 "ticks": false,
                 "grid": false
               }
             }
           }
         },
         {
           "mark": {"type": "text", "align": "right", "dx": -120},
           "encoding": {
             "text": {
               "aggregate": {"argmax": "__date"},
               "field": "positiveIncrease",
               "format": ",.0f",
               "type": "quantitative"
             }
           }
         },
         {
           "mark": {"type": "text", "align": "right", "dx": -180},
           "encoding": {
             "text": {
               "aggregate": {"argmax": "__date"},
               "field": "positive",
               "format": ",.0f",
               "type": "quantitative"
             }
           }
         }
       ]
     },
     "resolve": {"scale": {"y": "independent"}},
     "config": {
       "view": {"stroke": "transparent"},
       "header": {
         "title": null,
         "labelAngle": 0,
         "labelAlign": "left",
         "labelFontSize": 12,
         "labelFont": "Arial"
       },
       "text": {"font": "Arial", "fontSize": 12},
       "facet": {"spacing": 1},
       "area": {
         "interpolate": "monotone",
         "line": {"color": "red", "strokeWidth": 1, "interpolate": "monotone"},
         "fill": "#faa"
       }
     }
   };
   vegaEmbed('#vis', yourVlSpec);
 </script>
