<!--
Inspired by https://dev.to/themesberg/tutorial-how-to-build-a-simple-admin-dashboard-interface-using-bootstrap-5-2734
-->
<!--
<h1 class="h2">Dashboard</h1>
-->
<div class="text-center">
    <p/>
    <h5 class="card-title"><%= Time.now.strftime("%A, %B %d") %></h5>
    <h2 class="card-title"><%= greeting() %>, <%= @current_user.name.titleize %></h2>
</div>


<div class="row my-4">
  <%= render partial: "case_summary", collection: @most_recent_cases, as: :kase %>
</div>

<div class="row">
    <div class="col-12 col-xl-8 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">Latest transactions</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Order</th>
                            <th scope="col">Product</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Total</th>
                            <th scope="col">Date</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">17371705</th>
                            <td>Volt Premium Bootstrap 5 Dashboard</td>
                            <td>johndoe@gmail.com</td>
                            <td>€61.11</td>
                            <td>Aug 31 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">17370540</th>
                            <td>Pixel Pro Premium Bootstrap UI Kit</td>
                            <td>jacob.monroe@company.com</td>
                            <td>$153.11</td>
                            <td>Aug 28 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">17371705</th>
                            <td>Volt Premium Bootstrap 5 Dashboard</td>
                            <td>johndoe@gmail.com</td>
                            <td>€61.11</td>
                            <td>Aug 31 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">17370540</th>
                            <td>Pixel Pro Premium Bootstrap UI Kit</td>
                            <td>jacob.monroe@company.com</td>
                            <td>$153.11</td>
                            <td>Aug 28 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">17371705</th>
                            <td>Volt Premium Bootstrap 5 Dashboard</td>
                            <td>johndoe@gmail.com</td>
                            <td>€61.11</td>
                            <td>Aug 31 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                          <tr>
                            <th scope="row">17370540</th>
                            <td>Pixel Pro Premium Bootstrap UI Kit</td>
                            <td>jacob.monroe@company.com</td>
                            <td>$153.11</td>
                            <td>Aug 28 2020</td>
                            <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <a href="#" class="btn btn-block btn-light">View all</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="card">
            <h5 class="card-header">Traffic last 6 months</h5>
            <div class="card-body">
                <div id="traffic-chart"></div>
            </div>
        </div>
        
        <div class="card" styled="width: 18rem;">
          <h5 class="card-header">Recent Activity</h5>
          <div class="card-body">
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>
              <small class="text-muted">
              	<time datetime="2023-06-05T13:46:42Z" data-local="time-ago">June  5, 2023  1:46pm</time>
              	
              </small>
              <br/>
              <strong>
              	Guest
              </strong>
                added the report <a href="/raw_data/13262">Resource Utilization by Organization for TM v2.xml</a>.
</li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-edit"></span>
                <small class="text-muted">
                	<time datetime="2023-06-05T13:46:42Z" data-local="time-ago">June  5, 2023  1:46pm</time>
                	<img class="avatar" width="20" height="20" alt="OSCar" src="https://logo.clearbit.com/opensourceconnections.com" />
                </small>
                <br/>
                <strong>
                	OSCar
                </strong>
                  received a email2webhook call for <a href="/service_calls/14103">Resource Utilization by Organization for TM v2.xml</a>.
            </li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
</div>
            
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

<script>
    new Chartist.Line('#traffic-chart', {
        labels: ['January', 'Februrary', 'March', 'April', 'May', 'June'],
        series: [
            [23000, 25000, 19000, 34000, 56000, 64000]
        ]
        }, {
        low: 0,
        showArea: true
    });
</script>


<hr/>

<div class="card">
    <h5 class="card-header">Cases Summary</h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Case Title</th>
                    <th scope="col"># of Queries</th>
                    <th scope="col">Last Score</th>
                    <th scope="col">Last Run On</th>
                    <th scope="col">Last Run By</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: "case", collection: @cases, as: :kase %>
                </tbody>
              </table>
        </div>
        <%= link_to 'View all', cases_path(), class: 'btn btn-block btn-light', role: 'button' %>
        
    </div>
</div>

<hr/>
<div id="vis"></div>

 <script type="text/javascript">
   var yourVlSpec = {
     "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
     "data": {
       "url": "http://localhost:3000/analytics/sparkline/vega_data.csv",
       "name": "dataset",
       "format": {"type": "csv"}
     },
     "facet": {
       "row": {
         "field": "state",
         "sort": {
           "field": "positiveIncrease",
           "op": "average",
           "order": "descending"
         }
       }
     },
     "spec": {
       "transform": [
         {
           "calculate": "datetime(slice(datum.date,0,4), slice(datum.date,4,6),[slice(datum.date,6,8)])",
           "as": "__date"
         }
       ],
       "height": 20,
       "layer": [
         {
           "mark": {"type": "area"},
           "encoding": {
             "x": {
               "field": "__date",
               "type": "temporal",
               "timeUnit": "monthdatehoursminutes",
               "axis": {
                 "title": null,
                 "orient": "top",
                 "domain": false,
                 "ticks": false,
                 "labels": false,
                 "grid": false
               }
             },
             "y": {
               "field": "positiveIncrease",
               "aggregate": "sum",
               "type": "quantitative",
               "axis": {
                 "title": null,
                 "domain": false,
                 "labels": false,
                 "ticks": false,
                 "grid": false
               }
             }
           }
         },
         {
           "mark": {"type": "text", "align": "right", "dx": -120},
           "encoding": {
             "text": {
               "aggregate": {"argmax": "__date"},
               "field": "positiveIncrease",
               "format": ",.0f",
               "type": "quantitative"
             }
           }
         },
         {
           "mark": {"type": "text", "align": "right", "dx": -180},
           "encoding": {
             "text": {
               "aggregate": {"argmax": "__date"},
               "field": "positive",
               "format": ",.0f",
               "type": "quantitative"
             }
           }
         }
       ]
     },
     "resolve": {"scale": {"y": "independent"}},
     "config": {
       "view": {"stroke": "transparent"},
       "header": {
         "title": null,
         "labelAngle": 0,
         "labelAlign": "left",
         "labelFontSize": 12,
         "labelFont": "Arial"
       },
       "text": {"font": "Arial", "fontSize": 12},
       "facet": {"spacing": 1},
       "area": {
         "interpolate": "monotone",
         "line": {"color": "red", "strokeWidth": 1, "interpolate": "monotone"},
         "fill": "#faa"
       }
     }
   };
   vegaEmbed('#vis', yourVlSpec);
 </script>
