<%= turbo_stream.replace "notification-book-#{book.id}" do %>
  <span id="notification-book-<%= book.id %>">
    <% if counter > 0 %>      
      <div class="alert alert-warning" role="alert" >      
        <% if local_assigns[:percent] %>
          <div class="progress" role="progressbar" aria-label="Job Progress" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: <%= number_to_percentage(percent, precision: 0) %>"><%= number_to_percentage(percent, precision: 0) %></div>
          </div>
        <% end %>
        Query/Doc Pairs Remaining: <code><%= counter %></code>. 
        <br/>
        <p class="text-truncate">
          Processing query <code><%= qdp.query_text %></code>.
        </p>
      </div>
    <% else %>
      <div class="alert alert-info" role="alert">
      Job is Complete.
      </div>
    <% end %>
  </span>
<% end %>
