<tr>
  <!--<%= "Rendering row for book #{book.id} updated at #{book.updated_at}  at #{Time.now}" %>-->
  <td><%= book.id %> </td>
  <td><%= link_to strip_book_title(book), book_path(book) %></td>
  <td><%= book.teams.pluck(:name).join(',') %></td>
  <td><%= book.scorer.name %> </td>
  <td>
    <span class="badge bg-primary rounded-pill"><%= book.query_doc_pairs_count %> query/doc pairs</span>
    <% if book.archived? %>
      <span class="badge bg-warning">Archived</span>
    <% end %>
    <span id="notification-book-<%= book.id %>">
    </span>
  </td> 
</tr>
