<%= form_with(model: book) do |form| %>

  <%
    @book_id = book.id
    @book_name = book.name
  %>

  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <br>

  <div class="field">
    <%= form.label :team_id %>
    <%=
      form.collection_select(:team_id, current_user.teams, :id, :name, { prompt: true }, required: true)
    %>
  </div>

  <br>

  <div class="field">
    <%= form.label :scorer_id %>
    <%=
      form.collection_select(:scorer_id, current_user.scorers.all, :id, :name, { prompt: true }, required: true)
    %>
  </div>

  <br>

  <div class="field">
    <%= form.label :selection_strategy_id %>
    <%=
      form.collection_select(:selection_strategy_id, SelectionStrategy.all, :id, :name, { prompt: true }, required: true)
    %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
