<%= form_with(model: book) do |form| %>

  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, required: true, class: 'form-control' %>
    <div class="form-text">The book's name often reflects the goal for the judgements, like <em>Baseline Measurement</em> or a specific problem.</div>
  </div>

  <div class="mb-3">     
    <%= form.label :teams, "Teams to Share this Book With", class: 'form-label' %>
    <%= form.collection_check_boxes(:team_ids, @current_user.teams, :id, :name) do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
    <div class="form-text">Books are meant to be shared with human raters and relevance engineers, and you do this by picking which teams can use them.</div>
  </div>

  <div class="mb-3">
    <%= form.label :scorer_id, class: 'form-label' %>
    <%= form.collection_select(:scorer_id, current_user.scorers_involved_with, :id, :name, { prompt: true }, required: true, class: 'form-control') %>
    <div class="form-text">The scorer you pick drives the options for rating.  So AP@10 would give you relevant and irrelevant, whereas NDCG would give your a four point scale.</div>
  </div>

  <div class="mb-3">
    <%= form.label :selection_strategy_id, class: 'form-label' %>
    <%= form.collection_select(:selection_strategy_id, SelectionStrategy.all, :id, :descriptive_name, { prompt: true }, required: true, class: 'form-control') %>
  </div>
  
  <div class="mb-3">
    <%= form.label :ai_judge_id, class: 'form-label' %>
    <%
    ai_judges = book.teams.collect{|team| team.members.ai_judges }.flatten
    %>
    <%= form.collection_select(:ai_judge_id, ai_judges, :id, :name, { include_blank: true, prompt: true }, required: false, class: 'form-control') %>
    <div class="form-text">You can specify an AI powered Judge to evaluate this book.  This list is derived from Judges created for your teams, so you must associate the book with a team first!</div>
  </div>
  
  <div class="mb-3">
    <%= form.label :show_rank, class: 'form-check-label' %>
    <%= form.check_box :show_rank, class: 'form-check-input' %>
    <div class="form-text">Typically you don't want to convey to the Judge what Rank (or position) a Document was returned at.  If you are comparing across judging to an existing SERP page you may need this info.</div>
  </div>  

  <div class="mb-3">
    <div class="form-check form-switch">
      <%= form.label :support_implicit_judgements, class:'form-check-label' %>
      <%= form.check_box :support_implicit_judgements, class:'form-check-input' %>
        Supports Implicit Judgements?
    </div>
    <div class="form-text">Regular explicit judgements are on a ordinal scale, however implicit judgements are floats.  This controls how we import the judgements into the main Quepid Case screen.</div>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
