<%= form_with(model: book) do |form| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Settings</h5>    
      <% if book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
    
          <ul>
            <% book.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="mb-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, required: true, class: 'form-control' %>
        <div class="form-text">The book's name often reflects the goal for the judgements, like <em>Baseline Measurement</em> or a specific problem.</div>
      </div>
    
      <div class="mb-3">     
        <%= form.label :teams, "Teams to Share this Book With", class: 'form-label' %>
        <%= form.collection_check_boxes(:team_ids, @current_user.teams, :id, :name) do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
        <div class="form-text">Books are meant to be shared with human raters and relevance engineers, and you do this by picking which teams can use them.</div>
      </div>
      
      <% if @origin_case %>
        <div class="mb-3">
          <div class="form-check form-switch">
            <%= form.label :link_the_case, class:'form-check-label' %>
            <%= form.check_box :link_the_case, class:'form-check-input', checked: true %>
              <%= @origin_case.case_name %> to this book?
          </div>
          <%= form.hidden_field :origin_case_id, :value => @origin_case.id %>
          <div class="form-text">A book can be used by none, one, or more Cases. </div>
        </div>
      <% end %>
    
      <div class="mb-3">
        <%= form.label :scorer_id, "Rating Scale", class: 'form-label' %>
        <%= form.select(:scorer_id, scorer_options_for_select(@current_user), 
              { prompt: "Select a rating scale..." }, 
              { class: 'form-control' }) %>
        <div class="form-text">Choose from available rating scale configurations. The scale and labels will be set for this book when you save.</div>
      </div>
    
      <div class="mb-3">
        <i class="bi bi-robot"></i>
        <%= form.label :teams, "AI Judges Assigned to this Book", class: 'form-label' %>
        <%= form.collection_check_boxes(:ai_judge_ids, @ai_judges, :id, :name) do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
        <div class="form-text">
          You can have multiple AI judges creating ratings.  You must add AI judges to the team just like any other user.
          <% if @book.new_record? %>
            <br/>Please create the book first and then use <b>Settings</b> to add AI judges.
          <% end %>
        </div>
      </div>
      
      
      <div class="mb-3">
        <%= form.label :show_rank, class: 'form-check-label' %>
        <%= form.check_box :show_rank, class: 'form-check-input' %>
        <div class="form-text">Typically you don't want to convey to the Judge what Rank (or position) a Document was returned at.  If you are comparing across judging to an existing SERP page you may need this info.</div>
      </div>  
    
      <div class="mb-3">
        <div class="form-check form-switch">
          <%= form.label :support_implicit_judgements, class:'form-check-label' %>
          <%= form.check_box :support_implicit_judgements, class:'form-check-input' %>
        </div>
        <div class="form-text">Regular explicit judgements are on a ordinal scale, however implicit judgements are floats.  This controls how we import the judgements into the main Quepid Case screen.</div>
      </div>
      
      <% unless @book.new_record? %>
        <div class="mb-3">
          <div class="form-check">
            <%= form.check_box :delete_import_file, class: 'form-check-input', checked: false, disabled: !@book.import_file.attached? %>
            <%= form.label :delete_import_file, "Delete Import File", class: 'form-check-label' %>
            <div class="form-text">If enabled you have an associated file.  Check this to delete it.</div>
          </div>
        </div>    
        <div class="mb-3">
          <div class="form-check">
            <%= form.check_box :delete_export_file, class: 'form-check-input', checked: false, disabled: !@book.export_file.attached? %>
            <%= form.label :delete_export_file, "Delete Export File", class: 'form-check-label' %>
            <div class="form-text">If enabled you have an associated file.  Check this to delete it.</div>
          </div>
        </div>
      <% end %>
      
      <div class="actions">
        <%= form.submit class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
