<%= form_with(model: book) do |form| %>

  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, required: true, class: 'form-control' %>
    <div class="form-text">The book's name often reflects the goal for the judgements, like <em>Baseline Measurement</em> or a specific problem.</div>
  </div>

  <div class="mb-3">
    <%= form.label :team_id, class: 'form-label' %>
    <%= form.collection_select(:team_id, current_user.teams, :id, :name, { prompt: true }, required: true, class: 'form-control') %>
    <div class="form-text">Books are meant to be shared with human raters and relevance engineers, access to the book is controlled by what team you pick.</div>
  </div>

  <div class="mb-3">
    <%= form.label :scorer_id, class: 'form-label' %>
    <%= form.collection_select(:scorer_id, current_user.scorers, :id, :name, { prompt: true }, required: true, class: 'form-control') %>
    <div class="form-text">The scorer you pick drives the options for rating.  So AP@10 would give you relevant and irrelevant, whereas NDCG would give your a four point scale.</div>
  </div>

  <div class="mb-3">
    <%= form.label :selection_strategy_id, class: 'form-label' %>
    <%= form.collection_select(:selection_strategy_id, SelectionStrategy.all, :id, :descriptive_name, { prompt: true }, required: true, class: 'form-control') %>
  </div>

  <div class="mb-3">
    <div class="form-check form-switch">
      <%= form.label :support_implicit_judgements, class:'form-check-label' %>
      <%= form.check_box :support_implicit_judgements, class:'form-check-input' %>
        Supports Implicit Judgements?
    </div>
    <div class="form-text">Regular explicit judgements are on a ordinal scale, however implicit judgements are floats.  This controls how we import the judgements into the main Quepid Case screen.</div>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<hr/>
<p/>
<h3> Populate This Book from other Books</h3>
<p class="form-text">
  Combine the query/doc pairs and individual ratings from other books into this book.
  It will update any missing query/doc pairs and merge in ratings.
</p>

<% if book.new_record? %>
  <div class="alert alert-info" role="alert">
    You must first create the book before populating it!
  </div>
<% else %>
  <%= form_for(book, url: combine_book_path(book)) do |form| %>
    <ul class="list-group">  
      <% @current_user.books_involved_with.includes([:scorer,:rated_query_doc_pairs]).where.not(id: book.id).each do |book| %>
        <li class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between align-items-center">        
            <h5 class="mb-1">
              <%= check_box('book_ids', book.id, class: 'form-check-input me-1', disabled: book.rated_query_doc_pairs.empty?) %>
              <label for="book_ids_<%= book.id %>" class="form-check-label stretched">
              <%= book.name %>
              </label>
            </h5>
            <label for="book_ids_<%= book.id %>" class="form-check-label stretched">
            <span class="badge bg-primary rounded-pill"><%= book.rated_query_doc_pairs.count %> rated query/doc pairs</span>
            </label>
          </div>
          <label for="book_ids_<%= book.id %>" class="form-check-label stretched">
            <p class="mb-1">Uses a <%= book.scorer.name %> scorer and <%= book.support_implicit_judgements? ? 'supports':'does not support' %> implicit judgements.</p>
            <small class="text-muted">Updated <%= time_ago_in_words book.updated_at %> ago</small>
          </label>
        </li>
      <% end %>
    </ul>
    <p>
    <div class="actions">
      <%= form.submit 'Merge these Books into this Book' %>
    </div>
    </p>
  <% end %>
<% end %>
