<ul class="nav nav-underline">
  <li class="nav-item">
    <%= link_to book_path(book), class: "nav-link #{make_active?({action: 'show'}) ? 'active' : ''}", method: :get do %>
      Overview
    <% end %> 
  </li>
  <li class="nav-item">
    <%= link_to judgement_stats_book_path(book), class: "nav-link #{make_active?({action: 'judgement_stats'}) ? 'active' : ''}", method: :get do %>
      <i class="bi bi-bar-chart-fill text-body"></i> Judgement Stats
    <% end %>      
  </li>
  <li class="nav-item">
    <%= link_to book_judgements_path(book), class: "nav-link #{make_active?({controller: 'judgements'}) ? 'active' : ''}", method: :get do %>
      <i class="bi bi-book-half text-body"></i> Judgements
    <% end %>  
  </li> 

  <li class="nav-item">
    <%= link_to edit_books_import_path, class: "nav-link #{make_active?({controller: 'import'}) ? 'active' : ''}", method: :get do %>
      <i class="bi bi-file-earmark-arrow-down text-body"></i> Import
    <% end %> 
  </li>
  <li class="nav-item">
    <%= link_to edit_book_path(book), class: "nav-link #{make_active?({action: 'edit'}) ? 'active' : ''}" do %>
      <i class="bi bi-share-fill text-body"></i> Share book
    <% end %> 
  </li>
  <li class="nav-item">
    <%= link_to export_book_path(book), class: "nav-link #{make_active?({action: 'export'}) ? 'active' : ''}" do %>
      <i class="bi bi-file-earmark-arrow-up text-body"></i> Export
    <% end %>    
  </li>
  <li class="nav-item">
    <%= link_to edit_book_path(book), class: "nav-link #{make_active?({action: 'edit'}) ? 'active' : ''}" do %>
      <i class="bi bi-gear-wide-connected text-body"></i> Settings
    <% end %>   
  </li>
</ul>
