<div class="modal fade" id="unleash_modal_<%= ai_judge.id %>" tabindex="-1" aria-labelledby="unleashModalLabel_<%= ai_judge.id %>" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Unleash the Kraken</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with(url: run_judge_judy_book_path(@book, ai_judge_id: ai_judge.id), method: :patch) do |form| %>
      <div class="modal-body">
        
          <div class="row mb-3">

            <%= form.label :number_of_pairs, "Query Doc Pairs to Judge", 
                class: 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= form.number_field :number_of_pairs, 
                  class: 'form-control',
                  min: 1,
                  value: 10 %>
              <div class="form-text">How many pairs should the AI judge evaluate?</div>
            </div>
          </div>
        
          <div class="row mb-3">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
              <div class="form-check">
                <%= form.check_box :judge_all, 
                    class: 'form-check-input' %>
                <%= form.label :judge_all, "Judge All Pairs",
                    checked: false,
                    class: 'form-check-label' %>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
              <%= form.submit "Unleash!", class: 'btn btn-primary' %>
            </div>
          </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
