<%= turbo_stream_from(:notifications) %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1><i class="bi bi-book"></i> Books <%= "(Archived)" if params[:archived] == 'true' %></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <% if params[:archived] == 'true' %>
        <%= link_to 'View Active Books', books_path, class: "btn btn-sm btn-outline-primary" %>
      <% else %>
        <%= link_to 'New Book', new_book_path, class: "btn btn-sm btn-outline-primary" %>
        <%= link_to 'Import Book', new_books_import_path, class: "btn btn-sm btn-outline-secondary" %>
        <%= link_to 'View Archived Books', books_path(archived: true), class: "btn btn-sm btn-outline-warning" %>
      <% end %>
    </div>
  </div>
</div>


<p id="notice"><%= notice %></p>
<% if params[:archived] != 'true' && @books.empty? %>
  <div class="alert alert-primary" role="alert">
    Create your first book by clicking on the New Book button above.
  </div>
<% end %>

<div class="card h-100">
  <div class="card-header">   
    <%= form_tag(books_path, { method: :get }) do %>
      <%= hidden_field_tag :archived, params[:archived] if params[:archived] %>
      <div class="mb-0 d-flex fs-6 ">

        <div class="input-group">
          <%= text_field_tag :q, params[:q],
              class: 'form-control form-control-sm',
              placeholder: 'Filter by book name or team name',
              id: 'q'
          %>
          <%= button_tag type: 'submit', class: 'btn btn-sm btn-outline-secondary', id: 'button-addon2' do %>
            <i class="bi bi-search-heart"></i>
          <% end %>
        </div>
        
        <div class="d-flex">
          <%= select_tag :team_id, 
              options_for_select(
                [['Team', '']] + @current_user.teams.map { |j| [j.name, j.id] },
                params[:team_id]
              ),
              class: 'form-select form-select-sm ms-4',
              id: 'team_id',
              onchange: 'this.form.submit()'
          %>
        </div>
        
      </div>
    <% end %>
  </div>
  
  <div class="card-body">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Teams</th>
          <th>Scale</th>
          <th>Status</th>
        </tr>
      </thead>
  
      <tbody>      
        <%= render partial: "book", collection: @books, as: :book %> 
      </tbody>
    </table>
  </div>
  <div class="card-footer d-flex justify-content-center">
    <%== @pagy.series_nav(:bootstrap) %>
  </div>
</div>
