<!--<p id="notice"><%#= notice %></p>-->
<p></p>

<h2> Book <%= @book.name %></h2>
Books organize all the query/doc pairs that are needed for evaluating your search queries.
<p>
  <strong>Team:</strong>
  <%= @book.team.name %>
</p>

<p>
  <strong>Scorer:</strong>
  <%= @book.scorer.name %>
</p>

<p>
  <strong>Selection strategy:</strong>
  <%= @book.selection_strategy.name %>
</p>

<%= button_to 'Show Judgements', book_judgements_url(@book), method: :get %>

<br>

<%= button_to 'Show Query Doc Pairs', book_query_doc_pairs_url(@book), method: :get %>

<br>

<%= button_to "Edit Book #{@book.name}", edit_book_path(@book), method: :get %>

<br>


<%= button_to 'Back to Books', books_path, method: :get %>

<br>
