<%= form_with(model: search_endpoint) do |form| %>
  <% if search_endpoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_endpoint.errors.count, "error") %> prohibited this Search Endpoint from being saved:</h2>

      <ul>
        <% search_endpoint.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name %>
  </div>

  <div class="mb-3 col-12">
    <%= form.label :endpoint_url, class: 'form-label' %>
    <%= form.text_field :endpoint_url, size: 100 %>
  </div>

  <div class="mb-3">
    <%= form.label :search_engine, class: 'form-label' %>
    <%= form.text_field :search_engine %>
    
    <div class="form-text">Options are <code>solr</code>, <code>es</code>, <code>os</code>, <code>static</code>, <code>searchapi</code>, and <code>vectara</code>.</div>
  </div>

  <div class="mb-3">
    <%= form.label :custom_headers, class: 'form-label' %>
    <%= form.text_field :custom_headers %>
  </div>

  <div class="mb-3">
    <%= form.label :api_method, class: 'form-label' %>
    <%= form.text_field :api_method %>
  </div>
  
  <div class="mb-3">
    <%=search_endpoint.teams.count %>
    <%= form.label :teams, class: 'form-label' %>
    <%= form.collection_check_boxes(:team_ids, @current_user.teams, :id, :name) do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
