<div id="<%= dom_id search_endpoint %>">
  <p>
    <strong>Name:</strong>
    <%= search_endpoint.name.blank? ? "None specified, using generated name" : search_endpoint.name %>
  </p>

  <p>
    <strong>Search engine:</strong>
    <% if search_endpoint.search_engine %>
      <%= image_tag "#{search_endpoint.search_engine}-icon.png", size:'32x32', class:'rounded-circle' %> 
    <% end %>
    <%= search_endpoint.search_engine %>
  </p>
  
  <p>
    <strong>Endpoint url:</strong>
    <%= search_endpoint.endpoint_url %>
  </p>

  <p>
    <strong>Custom headers:</strong>
    <%= search_endpoint.custom_headers %>
  </p>

  <p>
    <strong>API method:</strong>
    <%= search_endpoint.api_method %>
  </p>
  
  <p>
    <strong>Proxy Requests:</strong>
    <%= search_endpoint.proxy_requests %>
  </p>  
  
  <p>
    <strong>Basic Auth Credential:</strong>
    <%= search_endpoint.basic_auth_credential %>
  </p>  
  
  <p>
    <strong>Requests Per Minute:</strong>
    <%= search_endpoint.requests_per_minute %>
    <div class="form-text">0 means no throttling</div>
  </p>  
  
  <p>
    <strong>Options:</strong>
    <%= text_area_tag 'options', (search_endpoint.options || {}).to_json, data: { codemirror_mode: "json", codemirror_height: 100,codemirror_width: 500, codemirror_readonly: true } %>
  </p>  
  
  <p>
    <strong>Custom Code Mapper:</strong>
    <pre>
<%= truncate(search_endpoint.mapper_code, length: 100) %>
    </pre>
  </p> 
  
  <p>
  <strong>Shared with Teams:</strong>
  <%= render(partial: 'team', collection: search_endpoint.teams, as: :team) || "There are no teams associated." %>
  
  <div class="form-text">This shows all teams, not just the ones you are part of</div>
  </p>
  
  <p>
  <strong>Used by Cases:</strong>
  <%= render(partial: 'case', collection: Case.find(search_endpoint.tries.pluck(:case_id)), as: :kase) || "There are no cases associated." %>
  </p>
  
  <p>
    <strong>Archived:</strong>
    <%= search_endpoint.archived? %>
    <%= search_endpoint.archived? ? "You must unarchive this search endpoint to use it with new cases" :"" %>
  </p>
  
  <p>
    <strong>Owner:</strong>
    <%= search_endpoint.owner ? search_endpoint.owner.fullname : "No owner specified" %>
  </p>

</div>
