<div id="<%= dom_id search_endpoint %>">
  <p>
    <strong>Name:</strong>
    <%= search_endpoint.name %>
  </p>

  <p>
    <strong>Endpoint url:</strong>
    <%= search_endpoint.endpoint_url %>
  </p>

  <p>
    <strong>Search engine:</strong>
    <%= search_endpoint.search_engine %>
  </p>

  <p>
    <strong>Custom headers:</strong>
    <%= search_endpoint.custom_headers %>
  </p>

  <p>
    <strong>Api method:</strong>
    <%= search_endpoint.api_method %>
  </p>
  
  <p>
  <strong>Related teams:</strong>
  <%= render(partial: 'team', collection: search_endpoint.teams, as: :team) || "There are no teams associated." %>
  </p>

</div>
