<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Search Endpoints</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <%= link_to 'New Search Endpoint', new_search_endpoint_path, class: "btn btn-sm btn-outline-secondary" %>      
    </div>    
  </div>
</div>

Search Endpoints represents a search engine (or API!) that is receiving queries and responding with documents.


<p id="notice"><%= notice %></p>

<% if @search_endpoints.empty? %>
  Create your first book by clicking on the New Search Endpoint button above.
  <br>
<% end %>

  <div class="card h-100">
    <div class="card-header">   
      <%= form_tag(search_endpoints_path, { method: :get }) do %> 
        <div class="mb-0 d-flex fs-6 ">
            
          <div class="input-group">
            <%= text_field_tag :q, params[:q], 
                class: 'form-control form-control-sm', 
                placeholder: 'Filter by name or url',
                id: 'q' 
            %>
            <%= button_tag type: 'submit', class: 'btn btn-sm btn-outline-secondary', id: 'button-addon2' do %>
              <i class="bi bi-search-heart"></i>
            <% end %>
          </div>
          
          <div class="d-flex">
            <%= select_tag :team_id, 
                options_for_select(
                  [['Team', '']] + @current_user.teams.map { |j| [j.name, j.id] },
                  params[:team_id]
                ),
                class: 'form-select form-select-sm ms-4',
                id: 'team_id',
                onchange: 'this.form.submit()'
            %>
          </div>
          
        </div>
      <% end %>
    </div>
    
    <div class="card-body">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Search Engine</th>
            <th>Endpoint Url</th>
          </tr>
        </thead>
    
        <tbody>      
          <% @search_endpoints.each do |search_endpoint| %>
            <tr>
              <td><%= link_to search_endpoint.fullname, search_endpoint_path(search_endpoint) %></td>
              <td>
                <% if search_endpoint.search_engine %>
                  <%= image_tag "#{search_endpoint.search_engine}-icon.png", size:'32x32', class:'rounded-circle' %> 
                <% end %>
                <%= search_endpoint.search_engine %>
              </td>
              <td><%= search_endpoint.endpoint_url %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
