<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Search Endpoint <%= @search_endpoint.fullname %></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <%= link_to 'Edit', edit_search_endpoint_path(@search_endpoint), class: "btn btn-sm btn-outline-primary " %>      
      <%= link_to 'Clone', clone_search_endpoint_path(@search_endpoint), method: :post, data: { turbo: false }, class: "btn btn-sm btn-outline-secondary" %>      
    </div>
    <%= link_to "Back", search_endpoints_path, class: "btn btn-sm btn-outline-secondary"  %>
  </div>
</div>

<p style="color: green"><%= notice %></p>
<div class="card">
  <div class="card-body"> 
    <%= render @search_endpoint %>
  </div>
</div>
