<%

if document_fields.empty?
  %>
  <%= sanitize document_fields.to_json %>
  <%
else
  %>
  <h5>
  <%= sanitize document_fields['title'] %>
  </h5>

  <%
  document_fields.except('title').except('thumb').map do |field, value|
    %>
    <p>
      <span class="h6"><%= field.humanize.titleize %>:</span>
    <% if value.is_a? String %>
      <% if value.starts_with?('http') %>
        <%= link_to value, value, target: "_blank" %>
      <% else if value.length > 110 then %>
        <br/><%= sanitize value %>
      <% else %>
        <%= sanitize value %>
      <% end %>        
        
      <% end %>
    <% elsif value.is_a? Array %>
      <%= (truncate(sanitize(value.size == 1 ? value.first : value.to_sentence), length: 1000)) %>
    <% end %>
    </p>
    <%
  end
end
%>
