<%

if @document_fields_as_json.nil?
  %>
  <%= sanitize @query_doc_pair.document_fields %>
  <%
else

  @title_value = @document_fields_as_json['title']
  @document_fields_except_title = @document_fields_as_json.except('title')
  %>
  <h5>
  <%= sanitize @title_value %>
  </h5>

  <%
  @document_fields_as_json.except('title').except('thumb').map do |field, value|
    %>
    <p>
      <span class="h6"><%= field.humanize.titleize %>:</span>
    <% if value.is_a? String %>
      <% if value.starts_with?('http') %>
        <%= link_to value, value, target: "_blank" %>
      <% else if value.length > 110 then %>
        <br/><%= sanitize value %>
      <% else %>
        <%= sanitize value %>
      <% end %>        
        
      <% end %>
    <% elsif value.is_a? Array %>
      <%= (truncate(sanitize(value.size == 1 ? value.first : value.to_sentence), length: 1000)) %>
    <% end %>
    </p>
    <%
  end
end
%>
