<p></p>

<h2>Query Doc Pairs in <%= book_title(@book) %></h2>


<table class="table table-striped table-hover table-sm">
<thead>
  <tr>
    <th>ID</th>
    <th>Query text</th>
    <th>Position</th>
    <th>Doc ID</th>
    <th>Document fields</th>
  </tr>
  </thead>

  <tbody>
  <% @query_doc_pairs.each do |query_doc_pair| %>
    <tr>
      <td>
        <%= link_to query_doc_pair.id, book_query_doc_pair_path(@book, query_doc_pair) %>
      </td>

      <td><%= query_doc_pair.query_text %></td>
      <td><%= query_doc_pair.position %></td>
      <td><%= query_doc_pair.doc_id %></td>
      <td><%= truncate(query_doc_pair.document_fields, length:100) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= button_to 'New Query Doc Pair', new_book_query_doc_pair_path, method: :get %>
<br>
<%= button_to "Back to #{book_title(@book)}", @book, method: :get %>

<br>
