<!--<p id="notice"><%#= notice %></p>-->
<p></p>

<%
  @users = User.all
  @user_name_lookup = {}
  @users.each do |s|
    @user_name_lookup[s.id] = s.email
  end
%>


<%
  @books = Book.all
  @books_name_lookup = {}
  @books.each do |s|
    @books_name_lookup[s.id] = s.name
  end
  @book_id = @query_doc_pair.book_id
  @book_name = @books_name_lookup[@query_doc_pair.book_id]
%>

<h1>Query Doc Pair</h1>

<p>
  in Book <%= @book_id %> "<%= @book_name %>"
</p>

<p>
  <strong>Query text:</strong>
  <%= @query_doc_pair.query_text %>
</p>

<p>
  <strong>Position:</strong>
  <%= @query_doc_pair.position %>
</p>

<p>
  <strong>Doc ID:</strong>
  <%= @query_doc_pair.doc_id %>
</p>

<%
  @cjm_testing = true

  @document_fields_parses_as_json = false

  begin
    @document_fields = JSON.parse(@query_doc_pair.document_fields)
    @document_fields_parses_as_json = true
  rescue
    nil
  end

  unless @document_fields.respond_to?(:keys)
    @document_fields_parses_as_json = false
  end

%>

<% if @cjm_testing and @document_fields_parses_as_json %>
  <div class="field">
    <strong>Document fields:</strong>
  </div>
  <div class="field">
    <% @document_fields.keys.each do |key| %>
      <% if key == "title" %>
        <div class="field">
          &nbsp;&nbsp;&nbsp;<strong><%= key %></strong> <%= @document_fields[key] %>
        </div>
      <% end %>
    <% end %>
    <% @document_fields.keys.each do |key| %>
      <% if key != "title" %>
        <div class="field">
          &nbsp;&nbsp;&nbsp;<strong><%= key %></strong> <%= @document_fields[key] %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="field">
    <strong>Document fields:</strong> <%= @query_doc_pair.document_fields.to_s %>
  </div>
<% end %>

<p></p>

<!--<p>-->
<!--  <strong>Created by User:</strong>-->
  <%#= @user_name_lookup[@query_doc_pair.user_id] %>
<!--</p>-->

<%= button_to 'Edit QueryDocPair', edit_book_query_doc_pair_path(@query_doc_pair.book_id, @query_doc_pair.id), method: :get %> <br>

<%= button_to 'Back to QueryDocPairs for ' + @book_name, book_query_doc_pairs_url(book_id: @query_doc_pair.book_id, query_doc_pair_id: @query_doc_pair.id), method: :get %><br>
