<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Quepid Announcements for Users</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <%= link_to 'New Quepid Announcement', new_admin_announcement_path, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>
<% if @announcements.empty? %>
  <div class="alert alert-primary" role="alert">
    Create your first announcement by clicking on the New Quepid Announcement button above.
  </div>
<% end %>

<div class="card h-100">
  <div class="card-header">   
    <%= form_tag(admin_announcements_path, { method: :get }) do %> 
      <div class="mb-0 d-flex fs-6 ">
          
        <div class="input-group">
          <%= text_field_tag :q, params[:q], 
              class: 'form-control form-control-sm', 
              placeholder: 'Filter by announcement text',
              id: 'q' 
          %>
          <%= button_tag type: 'submit', class: 'btn btn-sm btn-outline-secondary', id: 'button-addon2' do %>
            <i class="bi bi-search-heart"></i>
          <% end %>
        </div>
        
        
        
      </div>
    <% end %>
  </div>
  
  <div class="card-body">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Text</th>
          <th>Author</th>
          <th>Created</th>
          <th>Views</th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>      
        <% @announcements.each do |announcement| %>
          <tr class="<%= announcement.live? ? 'table-success' : '' %>">
            <td><%= announcement.text.html_safe %></td>
            <td><%= announcement.author.name %> </td>
            <td><%= announcement.created_at.strftime("%B %d %Y, %l:%M%P") %> </td>
            <td><%= announcement.announcement_viewed.size %> </td>
            <td class="d-flex gap-2">
              <%= link_to 'Edit', edit_admin_announcement_path(announcement) %>              
              <% if announcement.live? %>
                <%= button_to 'Turn Off', publish_admin_announcement_path(announcement), method: :post, class: 'btn btn-sm btn-primary' %>
              <% else %>
                <%= button_to 'Make Live', publish_admin_announcement_path(announcement), method: :post, class: 'btn btn-sm btn-outline-primary' %>
              <% end %>              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
