<% if @case.present? %>
<div id="case-header" class="row">
  <div class="col-sm-12">
    <div style="display: inline-flex; align-items: flex-start;">
      <div class="case-score-badge-wrapper"
           data-controller="case-score"
           data-case-score-case-id-value="<%= @case.id %>"
           data-case-score-try-number-value="<%= @try&.try_number %>"
           data-case-score-max-score-value="<%= (@case.scorer&.scale || []).last.to_i %>">
        <div class="case-score-badge"
             data-case-score-target="badge">
          --
        </div>
      </div>
    </div>

    <div class="case-header-info" style="display:inline-block;vertical-align:top">
      <h1 class="">
        <small class="text-muted">Current case
          <% if @case.nightly? %>
            <i class="bi bi-repeat" title="Queries are run on a nightly basis."></i>
          <% end %>
        </small>
        <% if @case.public? %>
          <span>PUBLIC</span>
        <% end %>
        <% if @case.archived? %>
          <span>ARCHIVED</span>
        <% end %>

        <br>
        <span data-controller="inline-edit"
              data-inline-edit-url-value="<%= api_case_path(case_id: @case.id) %>"
              data-inline-edit-field-value="case_name"
              data-inline-edit-wrap-value="case">
          <span data-inline-edit-target="display"
                data-action="dblclick->inline-edit#startEdit">
            <%= @case.case_name %>
          </span>
          <span data-inline-edit-target="form" class="d-none">
            <form class="form-inline" data-action="submit->inline-edit#save">
              <input class="inline-edit-input-highlight" type="text"
                     data-inline-edit-target="input"
                     value="<%= @case.case_name %>" />
              <input type="submit" class="btn btn-sm btn-primary" value="Rename" />
              <button type="button" class="btn btn-sm btn-default"
                      data-action="click->inline-edit#cancel">Cancel</button>
            </form>
          </span>
        </span>

        <small class="text-muted">
          &mdash;
          <% if @try.present? %>
            <%= @try.name&.include?("Try #{@try.try_number}") ? @try.name : "#{@try.name} - Try #{@try.try_number}" %>
          <% end %>
        </small>

        <small class="text-muted">
          &mdash;
          <%= @case.scorer&.name %>
        </small>
      </h1>
    </div>
  </div>
</div>
<% end %>
