<% if @case.present? %>
<div class="results" id="query-list-shell" data-controller="query-list"
     data-query-list-query-row-outlet="[data-controller='query-row']"
     data-query-list-case-score-outlet="[data-controller='case-score']"
     data-query-list-sortable-value="<%= @query_list_sortable %>"
     data-action="query-row:scoreChanged->query-list#handleScoreChanged query-row:queryDeleted->query-list#handleQueryDeleted">
  <div class="row">
    <div class="col-sm-12 form-group">
      <div class="pull-left">
        <form class="form input-append vertically-centered"
              data-controller="add-query"
              data-action="submit->add-query#submit">
          <input id="add-query"
                 class="form-control"
                 data-add-query-target="input"
                 placeholder="Add a query to this case"
                 type="text" />
          <input id="add-query-submit"
                 class="btn btn-success"
                 type="submit"
                 value="Add query" />
        </form>
      </div>

      <ul class="list-inline pull-right">
        <li>
          <input type="checkbox" class="align-top"
                 data-action="click->query-list#toggleShowOnlyRated"
                 data-query-list-target="showOnlyRatedCheckbox" />
          <a href="#" data-action="click->query-list#toggleShowOnlyRated">Show only rated</a>
        </li>

        <li class="text-muted"><span class="text-muted"> | </span></li>

        <li>
          <a href="#" data-action="click->query-list#runAllSearches">Run all</a>
        </li>

        <li class="text-muted"><span class="text-muted"> | </span></li>

        <li>
          <a href="#" data-action="click->query-list#collapseAll">Collapse all</a>
        </li>

        <li class="text-muted"><span class="text-muted"> | </span></li>

        <li>
          <span class="text-muted">Sort &nbsp;</span>
          <ul class="list-inline" style="display:inline" role="group" aria-label="sort">
            <% if @query_list_sortable %>
              <li>
                <a href="#" class="active"
                   data-action="click->query-list#sortBy"
                   data-query-list-target="sortLink"
                   data-sort="default">
                  Manual
                  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
              </li>
            <% else %>
              <li>
                Manual
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"
                      title="Manual sorting has been disabled by your administrator."></span>
              </li>
            <% end %>
            <li><a href="#" data-action="click->query-list#sortBy" data-query-list-target="sortLink" data-sort="query">Name</a></li>
            <li><a href="#" data-action="click->query-list#sortBy" data-query-list-target="sortLink" data-sort="modified">Modified</a></li>
            <li><a href="#" data-action="click->query-list#sortBy" data-query-list-target="sortLink" data-sort="score">Score</a></li>
            <li><a href="#" data-action="click->query-list#sortBy" data-query-list-target="sortLink" data-sort="error">Errors</a></li>
          </ul>
        </li>
      </ul>

      <div class="clearfix"></div>

      <div class="pull-right p-r-10">
        Number of Queries: <span data-query-list-target="queryCount"><%= @query_count %></span>
      </div>
      <div class="pull-right p-r-10">
        <input type="search" placeholder="Filter Queries" aria-label="filter queries"
               class="form-control input-sm" id="queries-filter-new"
               data-action="input->query-list#filter"
               data-query-list-target="filterInput" />
      </div>

      <div class="clearfix"></div>

      <!-- Query rows -->
      <ul class="results-list-element" data-query-list-target="list">
        <% @queries.each do |query| %>
          <li data-query-list-target="queryRow"
              data-query-id="<%= query.id %>"
              data-query-text="<%= query.query_text %>"
              data-modified-at="<%= query.updated_at.iso8601 %>"
              data-rated="<%= query.ratings.any? %>"
              data-controller="query-row"
              data-query-row-query-id-value="<%= query.id %>"
              data-query-row-query-text-value="<%= query.query_text %>"
              data-query-row-ratings-value="<%= query.ratings.each_with_object({}) { |r, h| h[r.doc_id] = r.rating.to_i }.to_json %>"
              data-query-row-notes-value="<%= query.notes || '' %>"
              data-query-row-information-need-value="<%= query.information_need || '' %>">
            <div class="clearfix">
              <div class="result-header">
                <% if @query_list_sortable %>
                  <span class="drag-handle pull-left" title="Drag to reorder">
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                  </span>
                <% end %>

                <div class="results-score pull-left">
                  <div class="overall-rating query-score-badge" data-query-row-target="scoreDisplay">
                    --
                  </div>
                </div>
                <span class="snapshot-query-scores pull-left d-none" data-query-row-target="snapshotScores"></span>

                <h2 class="results-title">
                  <span class="query"><%= query.query_text %> &nbsp;</span>
                  <% if query.notes.present? || query.information_need.present? %>
                    <span class="glyphicon glyphicon-comment text-muted query-notes-indicator"
                          title="Has notes"></span>
                  <% end %>
                </h2>

                <span class="pull-right total-results">
                  <small class="text-muted" data-query-row-target="totalResults">
                    <%= query.ratings.size %> rated
                  </small>
                </span>

                <span class="pull-right d-none" style="margin-right: 20px;" title="Hop to it! There are unrated results!"
                      data-query-row-target="frogIndicator">
                  <span class="icon-container">
                    <i class="frog-icon">🐸</i>
                    <span class="notification-bubble" data-query-row-target="frogCount"></span>
                  </span>
                </span>

                <span class="pull-right d-none" style="margin-right: 20px;" title="Querqy rule triggered"
                      data-query-row-target="querqyIndicator">
                  <i class="querqy-icon"></i>
                </span>

                <span class="toggleSign glyphicon glyphicon-chevron-down"
                      data-action="click->query-row#toggle"
                      data-query-row-target="chevron"></span>
              </div>
            </div>

            <div class="sub-results container clearfix d-none"
                 data-query-row-target="expandedContent">
              <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                  <button class="btn btn-danger btn-sm"
                          data-action="click->query-row#deleteQuery">
                    <i class="glyphicon glyphicon-trash"></i>
                    Delete Query
                  </button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm"
                          data-action="click->query-row#rerunSearch">
                    <i class="glyphicon glyphicon-repeat"></i>
                    Re-run
                  </button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm"
                          data-action="click->query-row#toggleNotes">
                    <i class="glyphicon glyphicon-comment"></i>
                    Notes
                  </button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm"
                          data-action="click->query-row#toggleExplain"
                          data-query-row-target="explainToggle">
                    <i class="glyphicon glyphicon-stats"></i>
                    Explain
                  </button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm d-none"
                          data-action="click->query-row#showQueryExplain"
                          data-query-row-target="queryExplainBtn">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    Query Explain
                  </button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm dropdown-toggle"
                          data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="glyphicon glyphicon-check"></i>
                    Score All
                  </button>
                  <ul class="dropdown-menu" data-query-row-target="bulkRateMenu">
                    <li><a class="dropdown-item" href="#"
                           data-action="click->query-row#bulkRate"
                           data-rating-value="clear">Clear All</a></li>
                    <li><hr class="dropdown-divider"></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm"
                          data-action="click->query-row#openDocFinder">
                    <i class="glyphicon glyphicon-search"></i>
                    Missing Docs
                  </button>
                </div>
              </div>

              <div class="query-notes-panel d-none" data-query-row-target="notesPanel">
                <div class="form-group">
                  <label class="control-label">Information Need</label>
                  <input type="text" class="form-control input-sm"
                         placeholder="What is the user trying to find?"
                         data-query-row-target="informationNeedInput"
                         value="<%= query.information_need %>" />
                </div>
                <div class="form-group">
                  <label class="control-label">Notes</label>
                  <textarea class="form-control input-sm" rows="3"
                            placeholder="Add notes about this query..."
                            data-query-row-target="notesInput"><%= query.notes %></textarea>
                </div>
                <button class="btn btn-primary btn-sm"
                        data-action="click->query-row#saveNotes">
                  Save Notes
                </button>
                <span class="text-success d-none" data-query-row-target="notesSavedIndicator">
                  Saved!
                </span>
              </div>

              <div data-query-row-target="resultsContainer" class="search-results-container">
                <p class="text-muted">Expand to run search.</p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <div data-query-list-target="paginationContainer" class="query-list-pagination"></div>
    </div>
  </div>
</div>

<!-- Shared doc detail modal -->
<div class="modal fade" id="doc-detail-modal" tabindex="-1" aria-labelledby="doc-detail-modal-title" aria-hidden="true"
     data-controller="doc-detail-modal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="doc-detail-modal-title" data-doc-detail-modal-target="title">Document</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-doc-detail-modal-target="body">
      </div>
      <div class="modal-footer">
        <a href="#" target="_blank" rel="noopener" class="btn btn-default d-none"
           data-doc-detail-modal-target="viewLink">
          <i class="glyphicon glyphicon-new-window"></i> View Document
        </a>
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Shared query explain modal -->
<div class="modal fade" id="query-explain-modal" tabindex="-1" aria-labelledby="query-explain-modal-title" aria-hidden="true"
     data-controller="query-explain-modal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="query-explain-modal-title">Explain Query Parsing</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Details returned from the search engine on how it processed the input query.</p>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#qe-tab-params" type="button" role="tab">Params</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#qe-tab-parsing" type="button" role="tab">Parsing</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#qe-tab-template" type="button" role="tab">Query Template</button>
          </li>
        </ul>
        <div class="tab-content mt-2">
          <div class="tab-pane fade show active" id="qe-tab-params" role="tabpanel"
               data-query-explain-modal-target="paramsTab"></div>
          <div class="tab-pane fade" id="qe-tab-parsing" role="tabpanel"
               data-query-explain-modal-target="parsingTab"></div>
          <div class="tab-pane fade" id="qe-tab-template" role="tabpanel"
               data-query-explain-modal-target="templateTab"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-action="click->query-explain-modal#copyActive">
          <i class="glyphicon glyphicon-copy"></i> Copy
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Shared doc finder modal -->
<div class="modal fade" id="doc-finder-modal" tabindex="-1" aria-labelledby="doc-finder-modal-title" aria-hidden="true"
     data-controller="doc-finder">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="doc-finder-modal-title">Find Missing Documents</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search for documents..."
                 data-doc-finder-target="searchInput"
                 data-action="keydown.enter->doc-finder#search" />
          <button class="btn btn-default" type="button"
                  data-action="click->doc-finder#search">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button class="btn btn-default" type="button"
                  data-action="click->doc-finder#showRatedDocs">
            All Rated Docs
          </button>
        </div>
        <div data-doc-finder-target="resultsContainer"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
