<% if @case.present? && @try.present? %>
<div id="dev-settings" data-controller="settings-panel"
     data-settings-panel-case-id-value="<%= @case.id %>"
     data-settings-panel-try-number-value="<%= @try.try_number %>"
     data-settings-panel-search-engine-value="<%= @try.search_endpoint&.search_engine || 'solr' %>"
     data-settings-panel-query-params-value="<%= @try.query_params %>"
     data-settings-panel-field-spec-value="<%= @try.field_spec %>"
     data-settings-panel-number-of-rows-value="<%= @try.number_of_rows %>"
     data-settings-panel-escape-query-value="<%= @try.escape_query %>"
     data-settings-panel-search-endpoint-id-value="<%= @try.search_endpoint&.id %>">

  <ul class="nav nav-tabs">
    <li class="tabBoxSelected" data-action="click->settings-panel#switchTab"
        data-settings-panel-target="tab" data-tab="query">
      Query
    </li>
    <li data-action="click->settings-panel#switchTab"
        data-settings-panel-target="tab" data-tab="settings">
      Settings
    </li>
    <li data-action="click->settings-panel#switchTab"
        data-settings-panel-target="tab" data-tab="history">
      History
    </li>
  </ul>

  <div id="queryParamsCanvas">
    <!-- Query Sandbox tab -->
    <div class="settings-tab query-sandbox" data-settings-panel-target="tabContent" data-tab="query">
      <% if @try.search_endpoint&.search_engine == 'static' %>
        <p>With a Static search endpoint there are no query settings to play with ;-(.</p>
      <% else %>
        <div class="rerunnable-settings-tab" id="query-params-editor">
          <h4 class="pull-left">Query Sandbox:</h4>
          <div class="clearfix"></div>

          <div class="alert alert-warning d-none" data-settings-panel-target="warning"></div>

          <% engine = @try.search_endpoint&.search_engine || 'solr' %>
          <% if engine == 'solr' %>
            <textarea class="form-control" name="queryParams"
                      data-settings-panel-target="queryParamsInput"
                      data-action="input->settings-panel#markDirty"><%= @try.query_params %></textarea>
          <% else %>
            <%# ES/OS/Vectara/Algolia/SearchAPI use a taller textarea for JSON %>
            <textarea class="form-control es-query-params" name="queryParams"
                      data-settings-panel-target="queryParamsInput"
                      data-action="input->settings-panel#markDirty"><%= @try.query_params %></textarea>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- Settings tab -->
    <div class="settings-tab d-none" data-settings-panel-target="tabContent" data-tab="settings">
      <div class="rerunnable-settings-tab">
        <!-- Endpoint Details -->
        <div class="setting-div">
          <div class="dev-header" data-action="click->settings-panel#toggleSection">
            Endpoint Details
            <span class="glyphicon glyphicon-minus-sign"></span>
          </div>
          <div class="dev-body">
            <p>
              <% if @try.search_endpoint.present? %>
                Name: <%= @try.search_endpoint.fullname %>
              <% end %>
            </p>
            <p>
              <% if @try.search_endpoint&.search_engine %>
                <img src="<%= asset_path("#{@try.search_endpoint.search_engine}-icon.png") %>" width="32px" />
              <% end %>
              <%= @try.search_endpoint&.endpoint_url %>
            </p>
          </div>
        </div>

        <!-- Displayed Fields -->
        <div class="setting-div">
          <div class="dev-header" data-action="click->settings-panel#toggleSection">
            Displayed Fields
            <span class="glyphicon glyphicon-minus-sign"></span>
          </div>
          <div class="dev-body">
            <input class="form-control" name="fieldSpec"
                   value="<%= @try.field_spec %>"
                   data-settings-panel-target="fieldSpecInput"
                   data-action="input->settings-panel#markDirty" />
          </div>
        </div>

        <!-- Number of Results -->
        <div class="setting-div">
          <div class="dev-header" data-action="click->settings-panel#toggleSection">
            Number of Results to Show
            <span class="glyphicon glyphicon-minus-sign"></span>
          </div>
          <div class="dev-body">
            <input class="form-control" name="numberOfRows" type="number"
                   max="100" maxlength="3" size="3"
                   value="<%= @try.number_of_rows %>"
                   data-settings-panel-target="numberOfRowsInput"
                   data-action="input->settings-panel#markDirty" />
          </div>
        </div>

        <!-- Escape Queries -->
        <div class="setting-div">
          <div class="dev-header" data-action="click->settings-panel#toggleSection">
            Escape Queries
            <span class="glyphicon glyphicon-minus-sign"></span>
          </div>
          <div class="dev-body">
            <label>
              <input type="checkbox" <%= "checked" if @try.escape_query %>
                     data-settings-panel-target="escapeQueryInput"
                     data-action="change->settings-panel#markDirty" />
              Escape Queries
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- History tab -->
    <div class="settings-tab d-none" data-settings-panel-target="tabContent" data-tab="history">
      <div class="container">
        <p>
          <a href="analytics/tries_visualization/<%= @case.id %>">Visualize your tries</a>
        </p>
        <p>To switch back to a previous try, click on a listing.</p>

        <ul class="list-unstyled" data-settings-panel-target="tryHistory">
          <% @case.tries.order(try_number: :desc).each do |t| %>
            <li class="try-history-item <%= 'try-history-active' if t.try_number == @try.try_number %>">
              <a href="<%= case_core_new_ui_path(@case, t.try_number) %>"
                 class="try-history-link">
                <span class="try-number">#<%= t.try_number %></span>
                <span class="try-name"><%= t.name %></span>
                <small class="text-muted"><%= t.created_at.strftime('%Y-%m-%d %H:%M') %></small>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div data-settings-panel-target="submitArea">
    <button type="button" class="btn btn-primary form-control"
            data-action="click->settings-panel#submit"
            data-settings-panel-target="submitButton">
      Rerun My Searches!
    </button>
  </div>
</div>
<% end %>
