<%= render 'core/action_bar_modals' do %>
  <div id="main" class="pane_container"
       data-controller="resizable-pane tour">
    <div class="pane_main results-control" data-resizable-pane-target="main">
      <%= render 'core/case_header' %>
      <%= render 'core/action_bar' %>

      <div id="query-container">
        <%= render 'core/query_list_shell' %>
      </div>

      <%= render 'layouts/footer_core_app' %>
    </div>

    <div class="east-slider d-none"
         data-resizable-pane-target="slider"
         data-action="mousedown->resizable-pane#grabSlider"></div>

    <div class="pane_east d-none" data-resizable-pane-target="east">
      <%= render 'core/settings_panel' %>
    </div>
  </div>
<% end %>
