<span class="fs-4">&nbsp;FIXME</span>
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h2>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <% if devise_error_messages? -%>
        <%= devise_update_password_error_messages %>
      <% end -%>

      <%= f.hidden_field :reset_password_token %>

      <div class="mb-3">
        <%= f.label :password, "New password", class: 'form-label' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: 'New password' %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "Confirm new password", class: 'form-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm new password' %>
      </div>

      <div class="mb-3">
        <%= f.submit "Change my password", class: "btn btn-primary" %>
      </div>
    <% end %>

    <a href='/'>Return to Sign In</a>
  </div>
</div>
