<div class="main-container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2>Forgot your password?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <% if devise_error_messages? -%>
            <%= devise_reset_password_error_messages %>
          <% end -%>

          <div class="form-group">
            <%= f.label :email, 'Email', class: 'control-label' %>
            <%= f.text_field :email, autofocus: true, class: 'form-control input-lg', placeholder: 'Email' %>
          </div>

          <div class="form-group">
            <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>

        <a href='/'>Login</a>
      </div>
    </div>
  </div>
</div>
