<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Communal Scorers</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <%= link_to 'New Communal Scorer', new_admin_communal_scorer_path, class: "btn btn-sm btn-outline-secondary" %>      
    </div>    
  </div>
</div>

Communal Scorers are those scorers shared to every user regardless of team membership, and many come by default with Quepid.


<p id="notice"><%= notice %></p>

<% if @scorers.empty? %>
  Create your first scorer by clicking on the New Communal Scorer button above.
  <br>
<% end %>

  <div class="card h-100">
    <div class="card-header">   
      <%= form_tag(admin_communal_scorers_path, { method: :get }) do %> 
        <div class="mb-0 d-flex fs-6 ">
            
          <div class="input-group">
            <%= text_field_tag :q, params[:q], 
                class: 'form-control form-control-sm', 
                placeholder: 'Filter by name or scale label',
                id: 'q' 
            %>
            <%= button_tag type: 'submit', class: 'btn btn-sm btn-outline-secondary', id: 'button-addon2' do %>
              <i class="bi bi-search-heart"></i>
            <% end %>
          </div>          
          
        </div>
      <% end %>
    </div>
    
    <div class="card-body">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Scale</th>
            <th>Show Scale Labels?</th>
            <th>Scale with Labels</th>
            <th>Updated At</th>
            <th colspan="2"></th>
          </tr>
        </thead>
    
        <tbody>      
          <% @scorers.each do |scorer| %>
            <tr class='scorer'>
              <td><%= scorer.id %></td>
              <td><%= scorer.name %></td>
              <td class='code'>
                <div
                  id="code-<%= scorer.id %>"
                  data-readonly='true'
                  data-code="<%= scorer.code %>"
                ></div>
              </td>
              <td><%= scorer.scale_list %></td>
              <td><%= scorer.show_scale_labels? %></td>
              <td><%= scorer.scale_with_labels %></td>
              <td>
                <%= scorer.updated_at %>
                <% if scorer.updated_at %>
                  (<%= time_ago_in_words scorer.updated_at %> ago)
                <% end %>
              </td>
              <td><%= link_to 'Show', admin_communal_scorer_path(scorer) %></td>
              <td><%= link_to 'Edit', edit_admin_communal_scorer_path(scorer) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <%== @pagy.series_nav(:bootstrap) %>
    </div>
  </div>
