<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Communal Scorer <%= @scorer.name %></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <%= link_to 'Edit', edit_admin_communal_scorer_path(@scorer), class: "btn btn-sm btn-outline-primary " %>      
      <%= link_to "Back", admin_communal_scorers_path, class: "btn btn-sm btn-outline-secondary"  %>
    </div>
  </div>
</div>

<p style="color: green"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <div class="row element-attribute">
      <strong class='col-sm-2 control-label'>
        Name:
      </strong>
  
      <div class="col-sm-10">
        <%= @scorer.name %>
      </div>
    </div>
  
    <div class="row element-attribute">
      <strong class='col-sm-2 control-label'>
        Code:
      </strong>
  
      <div class="col-sm-10 code">
        <textarea id="codearea"><%= @scorer.code %></textarea>
      </div>
    </div>
  
    <div class="row element-attribute">
      <strong class='col-sm-2 control-label'>
        Scale:
      </strong>
  
      <div class="col-sm-10">
        <%= @scorer.scale_list %>
      </div>
    </div>
  
    <div class="row element-attribute">
      <strong class='col-sm-2 control-label'>
        Show scale labels?
      </strong>
  
      <div class="col-sm-10">
        <%= @scorer.show_scale_labels %>
      </div>
    </div>
  
    <div class="row element-attribute">
      <strong class='col-sm-2 control-label'>
        Scale with labels:
      </strong>
  
      <div class="col-sm-10">
        <%= @scorer.scale_with_labels %>
      </div>
    </div>
  
    <div class="row element-attribute">
      <strong class='col-sm-2 control-label'>
        Updated At:
      </strong>
  
      <div class="col-sm-10">
        <%= @scorer.updated_at %>
      </div>
    </div>
  </div>
</div>

<script>
  const codemirrorEditor = CodeMirror.fromTextArea(document.getElementById('codearea'), {
    lineNumbers: true,
    mode: "javascript",
    readOnly: true
  });
</script>
