<div id="<%= dom_id ai_judge %>">
  <p>
    <strong>Email:</strong>
    <%= ai_judge.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ai_judge.name %>
  </p>

  <p>
    <strong>Openai key:</strong>
    <%= ai_judge.openai_key %>
  </p>

  <p>
    <strong>Prompt:</strong>
    <%= ai_judge.prompt %>
  </p>

</div>
