<div class="card">
  <div class="card-body">
    <h3>User Attributes</h3>
    <p class="form-text">
      Manage the basic attributes of a user.
    </p>
    <%= form_for(@user, url: {action: passed_in_action}, class: 'form-horizontal') do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group clearfix">
        <%= f.label :email, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :email, class: 'form-control' %>
        </div>
      </div>
      
      <div class="form-group clearfix">
        <%= f.label :name, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>  
      
      <div class="form-group clearfix">
        <%= f.label :company, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :company, class: 'form-control' %>
        </div>
      </div>  
    
      <p/>
      <div class="form-group clearfix">
        <div class="col-sm-offset-2 col-sm-10m" >
          <div class="form-check form-switch">
            <%= f.label :administrator, class:'form-check-label' do %>
              <%= f.check_box :administrator, class:'form-check-input' %>
              Quepid Administrator?
            <% end %>
          </div>
        </div>
      </div>
    
      <p/>
    
      <% # special handling for passwords %>
      <% if passed_in_action == 'create' %>
        <h3>Manage Password</h3>
        <p class="form-text">
          You can either set the user's password in plain text, or, if you know their encrypted password provide it.
        </p>
        
        <div class="form-group">
          <%= f.label :password, class: 'control-label' %>
          <%= f.password_field :password, class: 'form-control input-lg', placeholder: 'New Password' %>
        </div>
      
        <div class="form-group">
          <%= f.label :password_confirmation, class: 'control-label' %>
          <%= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: 'Confirm New Password' %>
        </div>
        
        <p/>
        
        OR
        
        <div class="form-group">
          <%= label_tag :password_encrypted, 'Encrypted Password', class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= text_field_tag :password_encrypted, nil, class: "form-control" %>
          </div>
        </div>
      <% end %>
    
      <div class="form-group clearfix">
          <%= f.submit class: 'btn btn-primary btn-lg' %>
      </div>
  </div>
</div>

<% end %>


<% if passed_in_action == 'update' %>
  <hr/>
  <div class="card">
    <div class="card-body">
      <h3>Manage Password</h3>
      <p class="form-text">
        You can either set the user's password in plain text, or, if you know their encrypted password then you provide it.
      </p>
      <%= form_for(@user, url: {action: passed_in_action}, class: 'form-horizontal') do |f| %>      
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this from being saved:</h2>
    
            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
    
        <div class="form-group">
          <%= f.label :password, class: 'control-label' %>
          <%= f.password_field :password, class: 'form-control input-lg', placeholder: 'New Password' %>
    
        </div>
    
        <div class="form-group">
          <%= f.label :password_confirmation, class: 'control-label' %>
          <%= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: 'Confirm New Password' %>
        </div>
        
        <p/>
        
        OR
        
        <div class="form-group">
          <%= label_tag :password_encrypted, 'Encrypted Password', class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= text_field_tag :password_encrypted, nil, class: "form-control" %>
    
          </div>
        </div>
    
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">Update password</button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
