<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Edit User <%= @user.fullname %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
     
    </div>
  </div>

<div class="clearfix">
<%= render partial: 'form', locals: {passed_in_action: 'update'} %>

<hr/>

<h3>Assign Judgements to Anonymous User</h3>
<p class="form-text">
  If you need to delete a user then you need to assign their judgements over to the anonymous user.  This user has <%=@user.judgements.count %> judgements total. 
</p>
<%= button_to 'Assign Judgements to Anonymous User', assign_judgements_to_anonymous_user_admin_user_path(id: @user.id), method: :post, class: 'btn btn-sm btn-danger' %>

<p/>
</div>

<%= link_to 'Show', admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>

</main>
