<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>
    <%= image_tag @user.avatar_url(:big), size:'96x96', class:'img-rounded', title: 'Avatar image' %>
    <%= @user.display_name%>    
  </h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <%= link_to "Back", admin_users_path, class: "btn btn-sm btn-outline-secondary"  %>
      <%= button_to (@user.locked? ? 'Unlock' : 'Lock'), admin_user_lock_path(@user), method: :patch, class: 'btn btn-outline-warning btn-sm' %>
      <%= button_to "Delete this User", admin_user_path(@user), method: :delete, class: 'btn btn-sm btn-outline-danger', onclick: "return confirm('Are you sure you want to delete this Search Endpoint?');" %>
    

    </div>
  </div>
</div>



<%= render partial: 'form', locals: {passed_in_action: 'update'} %>

<hr/>
<div class="card">
  <div class="card-body">
    <h3>Assign Judgements to Anonymous User</h3>
    <p class="form-text">
      If you need to delete a user then you need to assign their judgements over to the anonymous user.  This user has <%=@user.judgements.count %> judgements total. 
    </p>
    <%= button_to 'Assign Judgements to Anonymous User', assign_judgements_to_anonymous_user_admin_user_path(id: @user.id), method: :post, class: 'btn btn-sm btn-danger' %>
  </div>
</div>
