<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Users</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <%= link_to 'New User', new_admin_user_path, class: "btn btn-sm btn-outline-secondary" %>
      <%= link_to 'Export', admin_users_path( shallow: true, format: :csv), class: "btn btn-sm btn-outline-secondary" %>
      <%= link_to 'Export JSON', admin_users_path( shallow: true, format: :json), class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
</div>


<p id="notice"><%= notice %></p>
<% if @users.empty? %>
  <div class="alert alert-primary" role="alert">
    Create your first user by clicking on the New User button above.
  </div>
<% end %>

<div class="card h-100">
  <div class="card-header">   
    <%= form_tag(admin_users_path, { method: :get }) do %> 
      <div class="mb-0 d-flex fs-6 ">
          
        <div class="input-group">
          <%= text_field_tag :q, params[:q], 
              class: 'form-control form-control-sm', 
              placeholder: 'Filter by email or name',
              id: 'q' 
          %>
          <%= button_tag type: 'submit', class: 'btn btn-sm btn-outline-secondary', id: 'button-addon2' do %>
            <i class="bi bi-search-heart"></i>
          <% end %>
        </div>
        
        
        
      </div>
    <% end %>
  </div>
  
  <div class="card-body">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Signed Up</th>
          <th>Marketing</th>
          <th>Number of Logins</th>
          <th>Administrator?</th>
          <th colspan="2"></th>
        </tr>
      </thead>
  
      <tbody>      
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.email %>
              <% if user.locked? %>
                <i class="bi bi-lock-fill"></i>
              <% end %>
            </td>
            <td><%= user.name %></td>
            <td>
              <%= user.agreed_time %>
              <% if user.agreed_time %>
                (<%= time_ago_in_words user.agreed_time %> ago)
              <% end %>
            </td>
            <td><%= user.email_marketing %></td>
            <td><%= user.num_logins %></td>
            <td><%= user.administrator? %></td>
            <td><%= link_to 'Show', admin_user_path(user) %></td>
            <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer d-flex justify-content-center">
    <%== @pagy.series_nav(:bootstrap) %>
  </div>
</div>
