<h2>Users Listing</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Signed Up</th>
      <th>Marketing</th>
      <th>Number of Logins</th>
      <th>Administrator?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td>
          <%= user.agreed_time %>
          <% if user.agreed_time %>
            (<%= time_ago_in_words user.agreed_time %> ago)
          <% end %>
        </td>
        <td><%= user.email_marketing %></td>
        <td><%= user.num_logins %></td>
        <td><%= user.administrator? %></td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td>
          <% if user.locked? %>
            <% text = 'Unlock' %>
          <% else %>
            <% text = 'Lock' %>
          <% end %>
          <%= button_to text, admin_user_lock_path(user), method: :patch, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
