<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>
    <%= image_tag @user.avatar_url(:big), size:'96x96', class:'img-rounded', title: 'Avatar image' unless @user.ai_judge? %>
    <%= @user.display_name %>    
  </h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <%= link_to 'Edit', edit_admin_user_path(@user), class: "btn btn-sm btn-outline-primary " %>      
      <%= link_to "Back", admin_users_path, class: "btn btn-sm btn-outline-secondary"  %>
      <%= button_to (@user.locked? ? 'Unlock' : 'Lock'), admin_user_lock_path(@user), method: :patch, class: 'btn btn-outline-warning btn-sm' %>

    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p id="notice"><%= notice %></p>
    
  
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @user.email %></p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @user.name || 'N/A' %></p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-sm-2 control-label">Company</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @user.company %></p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">Signed Up</label>
      <div class="col-sm-10">
        <p class="form-control-static">
          <%= @user.agreed_time %>
          <% if @user.agreed_time %>
            (<%= time_ago_in_words @user.agreed_time %> ago)
          <% end %>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Created by Invite?</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @user.created_by_invite? %></p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-sm-2 control-label">Email Marketing</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @user.email_marketing %></p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-sm-2 control-label">Number of Logins</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @user.num_logins %></p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-sm-2 control-label">Is Administrator?</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @user.administrator %></p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-sm-2 control-label">Locked?</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @user.locked? %></p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">Encrypted Password</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @user.password %></p>
      </div>
    </div>
  </div>
</div>

<hr />


<div class="card">
  <div class="card-header">
    <h2>Pulse</h2>
  </div>

  <div class="card-body">
    <% if @user.pending_invite? %>
      <div class="alert alert-info" role="alert">This user hasn't accepted the invite to join Quepid, therefore no usage data is available.</div>
    <% else %>
    

      <h3>Cases viewed</h3>
      <div
        id="cases-viewed"
        data-controller="user-activity"
        data-user-activity-url-value="<%= url_for admin_user_pulse_path @user, params: {data: 'metadata'} %>"
        data-user-activity-label-value="cases viewed"
        style="margin-bottom: 40px;"
      >
      </div>
    
      <h3>Cases scored</h3>
      <div
        id="cases-scored"
        data-controller="user-activity"
        data-user-activity-url-value="<%= url_for admin_user_pulse_path @user, params: {data: 'scores'} %>"
        data-user-activity-label-value="cases scored"
        style="margin-bottom: 40px;"
      >
      </div>
      
      <h3>Cases created</h3>
      <div
        id="cases-created"
        data-controller="user-activity"
        data-user-activity-url-value="<%= url_for admin_user_pulse_path @user, params: {data: 'cases-created'} %>"
        data-user-activity-label-value="cases created"
        style="margin-bottom: 40px;"
      >
      </div>
      
      <h3>Queries created</h3>
      <div
        id="queries-created"
        data-controller="user-activity"
        data-user-activity-url-value="<%= url_for admin_user_pulse_path @user, params: {data: 'queries-created'} %>"
        data-user-activity-label-value="queries created"
        style="margin-bottom: 40px;"
      >
      </div>
      
      <h3>Books created</h3>
      <div
        id="books-created"
        data-controller="user-activity"
        data-user-activity-url-value="<%= url_for admin_user_pulse_path @user, params: {data: 'books-created'} %>"
        data-user-activity-label-value="books created"
        style="margin-bottom: 40px;"
      >
      </div>
      
      <h3>Judgments created</h3>
      <div
        id="judgments-created"
        data-controller="user-activity"
        data-user-activity-url-value="<%= url_for admin_user_pulse_path @user, params: {data: 'judgments-created'} %>"
        data-user-activity-label-value="judgments created"
        style="margin-bottom: 40px;"
      >
      </div>      
    </div>
  <% end %>
</div>

<!-- has to be at the end to let JQuery and Heatmap work -->
<%= javascript_include_tag 'admin_users' %>
