<div class="row m-t-20">
  <div class="col-md-6 or-block">
    <h2>Accept the Invitation to join the team on Quepid!</h2>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <div>
        <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :invitation_token, readonly: true %>
          <h2></h2>

          <% if resource.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(resource.errors.count, "error") %> prohibited this invitation from being completed:</h2>

              <% resource.errors.full_messages.each do |message| %>
              <div class="alert alert-danger">
                <%= message %>
              </div>
              <% end %>
            </div>
          <% end %>

          <div class="mb-3">
             <%= f.text_field :name, class: 'form-control name', placeholder: 'Full Name' %>
          </div>

          <div class="mb-3">
            <%= f.text_field :email, class: 'form-control email', placeholder: 'Email Address' %>
          </div>

          <div class="mb-3">
             <%= f.password_field :password, class: 'form-control password', placeholder: 'Password' %>
          </div>

          <div class="mb-3">
              <%= f.password_field :password_confirmation, class: 'form-control password-confirm', placeholder: 'Confirm Password' %>
          </div>

          <% unless Rails.application.config.terms_and_conditions_url.blank? %>
          <div class="mb-3 form-check">
            <label>
              <%= f.check_box :agreed, class: 'form-check-input' %>
              Agree to
              <a href="<%= Rails.application.config.terms_and_conditions_url %>" target="_blank">terms &amp; conditions</a>?
            </label>
          </div>
          <% end %>

          <% if Rails.application.config.email_marketing_mode %>
          <div class="mb-3 form-check">
            <label>
              <%= f.check_box :email_marketing, class: 'form-check-input' %>
              Keep me in the know.  Send me occasional news about relevance tuning with Quepid (including new features). You can unsubscribe at any time.
            </label>
          </div>
          <% end %>

          <%= f.submit 'Accept Invite', class: 'btn btn-primary signup' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="p-5 mb-4">
  <div class="container-fluid py-5">
    <a href="http://www.opensourceconnections.com/2013/10/07/quepid-give-your-search-queries-some-love/">Read more</a> about the Quepid story. <a href="mailto:TalkToUs@opensourceconnections.com">Contact us</a>
    to talk about Quepid or ask how we can help with your search problems!
  </div>
</div>
