<h2>Ratings Analysis for Case <%=@case.case_name %></h2>


<table class="table table-condensed table-striped">
  <tr>
    <th>Query</th><th>Query Rating Variance</th><th>Doc ID</th>
    <% @usernames.each do |username| %>
      <th><%= username %></th>
    <% end %>
  </tr>
  <% @df.each_row do |row| %>
    <tr>
      <td><%= row['query_text']%></td>
      <td><%= row['query_rating_variance']%></td>
      <td><%= row['doc_id']%></td>
      <% @usernames.each do |username| %>
        <td><%= row[username]%></td>
      <% end %>
    </tr>
  <% end %>


</table>


<%= @df.plot("query_id", "doc_id", type: "pie")%>

<h2>Dataframe</h2>
<pre>
  <%= @df %>
</pre>



<h2>Here are all the ratings</h2>
<pre>
<%= @df.to_csv %>
</pre>
