<nav class="navbar navbar-expand-lg navbar-secondary">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      Quepid
      <span class="hover"><%= image_tag 'tagline-sm.png', title: "Give your queries some love" %></span>
    <% end %>
    <% if current_user.present? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
  
            <a class="nav-link dropdown-toggle" href="#" id="dropdownCases" role="button" data-bs-toggle="dropdown">
              <span class="nav-label">Relevancy Cases</span>
            </a>
            <ul class="dropdown-menu p-2" style="left: auto; width:250px;" aria-labelledby="navbarDropdown">
              <li class="text-muted">
                RECENT CASES
              </li>
              <li><hr class="dropdown-divider"></li>
              
              <turbo-frame id="dropdown_cases" src="<%= dropdown_cases_path() %>" loading="lazy">
              </turbo-frame>
            
              <li class="actions">
                <div class="d-grid gap-2">
                <%= link_to "View all cases", cases_path, class: "btn btn-outline-secondary" %>
                <%= render NewCaseComponent.new(button_text: "Create a case", block_style: true) %>
                </div>
              </li>              
            </ul>
          </li>
          <li class="nav-item dropdown">  
            <a class="nav-link dropdown-toggle" href="#" id="dropdownBooks" role="button" data-bs-toggle="dropdown">
              <span class="nav-label">Books</span>
            </a>
            <ul class="dropdown-menu p-2" style="left: auto; width:250px;" aria-labelledby="navbarDropdownBooks">
              <li class="text-muted">
                RECENT BOOKS
              </li>
              <li><hr class="dropdown-divider"></li>
       
              <turbo-frame id="dropdown_books" src="<%= dropdown_books_path() %>" loading="lazy">
              </turbo-frame>
              
              <li class="actions">
                <div class="d-grid gap-2">
                <%= link_to "View all books", books_path, class: "btn btn-outline-secondary" %>
                <%# When viewing a case, pass context so new book form pre-fills scorer, teams, and link-the-case option (legacy HeaderCtrl createNewBookLink behavior) %>
                <%= link_to 'Create a book',
                    new_book_path(
                      @case.present? ? {
                        scorer_id: @case.scorer_id,
                        team_ids: @case.team_ids.presence,
                        origin_case_id: @case.id
                      }.compact : {}
                    ),
                    class: 'btn btn-success' %>
                </div>
              </li>
              
            </ul>
          </li>        
          <li class="nav-item">
            <%= link_to "Teams", teams_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Scorers", scorers_path, class: "nav-link" %>
          </li>        
          <li class="nav-item">
            <%= link_to "Notebooks", "#{root_path}notebooks/lab/index.html", target: '_blank', class: "nav-link" %>
          </li>          
        </ul>
  
        <ul class="navbar-right nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href='https://quepid-docs.dev.o19s.com/2/quepid' target="_blank">
              User Manual
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='https://github.com/o19s/quepid/wiki' target="_blank">
              Wiki
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
              <%= image_tag current_user.avatar_url, size: '24x24', class: 'img-rounded', title: 'Avatar image' %>
              <span data-display-name><%= current_user.display_name %> </span>
            </a>
            <ul class="dropdown-menu navbar-right" style="right: 0; left: auto;" aria-labelledby="navbarDropdown">
              <li><%= link_to 'My profile', profile_path, class: 'dropdown-item', target: '_self' %></li>
              <li><%= link_to 'Log out', logout_path, class: 'dropdown-item', target: '_self' %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'API Docs', oas_rails_path, class: 'dropdown-item', target: '_self' %></li>
              <% if current_user.administrator? %>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'Admin Home', admin_path, class: 'dropdown-item', target: '_self' %></li>
              <li><%= link_to 'Users', admin_users_path, class: 'dropdown-item', target: '_self' %></li>
              <li><%= link_to 'Announcements', admin_announcements_path, class: 'dropdown-item', target: '_self' %></li>
              <li><%= link_to 'Job Manager', mission_control_jobs_path, class: 'dropdown-item', target: '_self' %></li>
              <% end %>  
            </ul>
          </li>  
        </ul>
      </div>
    <% end %>
  </div>
</nav>

<div id='flash'>
  <% if @announcement&.persisted? %>
    <div class="alert alert-light alert-dismissible text-center fade show" role="alert">
      <%= sanitize(@announcement.text) %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  
  <%= flash_messages -%>
</div>
