<header id="header" class="navbar-inverse navbar-secondary clearfix">
  <div class="container container-home">
    <div class="navbar-header">
      <%= link_to '/', class: "navbar-brand", target: "_self" do %>
        Quepid
        <span class="hover"><%= image_tag 'tagline-sm.png' %></span>
      <% end %>
    </div>

    <% if current_user.present? %>
      <% unless controller.class.to_s.include?("Admin::") or controller.class.to_s.include?("Profile") %>
        <%= render 'layouts/main_navigation' %>
      <% end %>
      <%= render 'layouts/user_navigation' %>
      <%= render 'layouts/docs_navigation' %>
    <% end %>
  </div>
</header>

<div id='flash'>
  <%= flash_messages -%>
</div>
