<header id="header" class="navbar-inverse navbar-secondary clearfix">
  <div class="container container-home">
    <div class="navbar-header">
      <%= link_to root_url(protocol: determine_prefer_ssl), class: "navbar-brand", target: "_self" do %>
        Quepid
        <span class="hover"><%= image_tag 'tagline-sm.png', title: "Give your queries some love" %></span>
      <% end %>
    </div>

    <% if current_user.present? %>
      <ul class="navbar-left nav navbar-nav" ng-controller="HeaderCtrl">
        <!-- Begin case selector -->
        <li class="dropdown" uib-dropdown>
          <a href class="dropdown-toggle" uib-dropdown-toggle>
            <span class="nav-label">Relevancy Cases</span>
            <i class="bi bi-chevron-down"></i>
          </a>

          <ul class="dropdown-menu dropdown-content" ng-model="headerScope.dropdownCases" uib-dropdown-menu>
            <li class="text-muted">
              <strong>RECENT CASES</strong>
            </li>

            <li ng-repeat="case in headerScope.dropdownCases | limitTo:5 track by $index">
              <a href="#" class="dropdown-link" ng-click="headerScope.goToCase($event, case)">{{ case.caseName }}</a>
            </li>
            
            <li class="actions">
              <a href="cases" class="btn btn-default btn-block">
                View all cases
                <small class="text-muted">
                  ({{ headerScope.casesCount }} active)
                </small>
              </a>

              <new-case button-text="'Create a case'"></new-case>
            </li>
          </ul>
        </li>
        <!-- End case selector -->
        <!-- Begin book selector -->
        <li class="dropdown" uib-dropdown>
          <a href class="dropdown-toggle" uib-dropdown-toggle>
            <span class="nav-label">Books</span>
            <i class="bi bi-chevron-down"></i>
          </a>

          <ul class="dropdown-menu dropdown-content" ng-model="headerScope.dropdownBooks" uib-dropdown-menu>
            <li class="text-muted">
              <strong>RECENT BOOKS</strong>
            </li>

            <li ng-repeat="book in headerScope.dropdownBooks | limitTo:5 track by $index">              
              <a ng-href="{{headerScope.createBookLink(book)}}" target="_self" class="dropdown-link">{{ book.name }}</a>              
            </li>

            <li class="actions">
              <a href="books" class="btn btn-default btn-block" target="_self">
                View all books
                <small class="text-muted">
                  ({{ headerScope.booksCount }} active)
                </small>
              </a>

              <a
                class="btn btn-success btn-block"
                ng-href="{{headerScope.createNewBookLink()}}"
                target="_self"
              >
                <i class="bi bi-plus-lg"></i>
                Create a book
              </a>              
            </li>
          </ul>
        </li>
        <!-- End book selector -->        

        <li><a href="teams">Teams</a></li>
        <li><a href="scorers">Scorers</a></li>
        <li><a ng-attr-target="_blank" href="notebooks/lab/index.html">Notebooks</a></li>
      </ul>
    
        <ul class="navbar-right nav navbar-nav">
        <!-- Begin account management dropdown -->
        <li class="dropdown" uib-dropdown>
          <a href class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown">
            <%= image_tag current_user.avatar_url, size: '24x24', class: 'img-rounded', title: 'Avatar image' %>
            <span data-display-name><%= current_user.display_name %> </span>
            <i class="bi bi-chevron-down"></i>
          </a>

          <ul class="dropdown-menu dropdown-content" uib-dropdown-menu>
            <li><%= link_to 'My profile', profile_url(protocol: determine_prefer_ssl), class: 'dropdown-link', target: '_self' %></li>
            <li><%= link_to 'Log out', logout_url(protocol: determine_prefer_ssl), class: 'dropdown-link', target: '_self' %></li>
            <li role="separator" class=""></li>
            <li><%= link_to 'Judgements', books_url(protocol: determine_prefer_ssl), class: 'dropdown-link', target: '_self' %></li>
            <li><%= link_to 'API Docs', apipie_apipie_url(protocol: determine_prefer_ssl), class: 'dropdown-item', target: '_self' %></li>
            <% if current_user.administrator? %>
            <li role="separator" class=""></li>
            <li><%= link_to 'Admin Home', admin_url(protocol: determine_prefer_ssl), class: 'dropdown-link', target: '_self' %></li>
            <li><%= link_to 'Users', admin_users_url(protocol: determine_prefer_ssl), class: 'dropdown-link', target: '_self' %></li>
            <li><%= link_to 'Quepid Scorers', admin_communal_scorers_url(protocol: determine_prefer_ssl), class: 'dropdown-link', target: '_self' %></li>
            <li><%= link_to 'Announcements', admin_announcements_url(protocol: determine_prefer_ssl), class: 'dropdown-item', target: '_self' %></li>
            <li><%= link_to 'Job Manager', mission_control_jobs_url(protocol: determine_prefer_ssl), class: 'dropdown-link', target: '_self' %></li>
            <% end %>
          </ul>
        </li> <!-- End account management -->
      </ul>
      <ul class="navbar-right nav navbar-nav">
        <li>
          <a href='https://github.com/o19s/quepid/wiki/Videos-on-Learning-to-use-Quepid' target="_blank">
            Video Tutorials
          </a>
        </li>
        <li>
          <a href='http://quepid.com/docs/' target="_blank">
            Knowledge Base
          </a>
        </li>
        <li>
          <a href='https://github.com/o19s/quepid/wiki' target="_blank">
            Wiki
          </a>
        </li>
      </ul>

    <% end %>
  </div>
</header>
