<header id="header" class="navbar-secondary">
  <div class="container container-home">
    <%= link_to root_path, class: "navbar-brand", target: "_self" do %>
      Quepid
      <span class="hover"><%= image_tag 'tagline-sm.png', title: "Give your queries some love" %></span>
    <% end %>

    <% if current_user.present? %>
      <ul class="navbar-nav me-auto" ng-controller="HeaderCtrl">
        <!-- Begin case selector -->
        <li class="dropdown">
          <a href="#" role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="nav-label">Relevancy Cases</span>
            <i class="bi bi-chevron-down"></i>
          </a>

          <ul class="dropdown-menu dropdown-content">
            <li class="text-muted">
              <strong>RECENT CASES</strong>
            </li>

            <li ng-repeat="case in headerScope.dropdownCases | limitTo:5 track by $index">
              <a href="#" class="dropdown-link dropdown-item" ng-click="headerScope.goToCase($event, case)">{{ case.caseName }}</a>
            </li>
            
            <li class="actions">
              <a href="cases" class="btn btn-outline-secondary w-100" target="_self">
                View all cases
                <small class="text-muted">
                  ({{ headerScope.casesCount }} active)
                </small>
              </a>

              <new-case button-text="'Create a case'"></new-case>
            </li>
          </ul>
        </li>
        <!-- End case selector -->
        <!-- Begin book selector -->
        <li class="dropdown">
          <a href="#" role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="nav-label">Books</span>
            <i class="bi bi-chevron-down"></i>
          </a>

          <ul class="dropdown-menu dropdown-content">
            <li class="text-muted">
              <strong>RECENT BOOKS</strong>
            </li>

            <li ng-repeat="book in headerScope.dropdownBooks | limitTo:5 track by $index">
              <a ng-href="{{headerScope.createBookLink(book)}}" target="_self" class="dropdown-link dropdown-item">{{ book.name }}</a>
            </li>

            <li class="actions">
              <a href="books" class="btn btn-outline-secondary w-100" target="_self">
                View all books
                <small class="text-muted">
                  ({{ headerScope.booksCount }} active)
                </small>
              </a>

              <a
                class="btn btn-success w-100"
                ng-href="{{headerScope.createNewBookLink()}}"
                target="_self"
              >
                <i class="bi bi-plus-lg"></i>
                Create a book
              </a>              
            </li>
          </ul>
        </li>
        <!-- End book selector -->        

        <li><a class="nav-link" href="teams" target="_self">Teams</a></li>
        <li><a class="nav-link" href="scorers" target="_self">Scorers</a></li>
        <li><a class="nav-link" ng-attr-target="_blank" href="notebooks/lab/index.html">Notebooks</a></li>
      </ul>
    
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href='https://quepid-docs.dev.o19s.com/2/quepid' target="_blank">
            User Manual
          </a>
        </li>
        <li>
          <a class="nav-link" href='https://github.com/o19s/quepid/wiki' target="_blank">
            Wiki
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <!-- Begin account management dropdown -->
        <li class="dropdown">
          <a href="#" role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag current_user.avatar_url, size: '24x24', class: 'img-rounded rounded', title: 'Avatar image' %>
            <span data-display-name><%= current_user.display_name %> </span>
            <i class="bi bi-chevron-down"></i>
          </a>

          <ul class="dropdown-menu dropdown-content">
            <li><%= link_to 'My profile', profile_path, class: 'dropdown-link dropdown-item', target: '_self' %></li>
            <li><%= link_to 'Log out', logout_path, class: 'dropdown-link dropdown-item', target: '_self' %></li>
            <li role="separator" class=""></li>
            <li><%= link_to 'API Docs', oas_rails_path, class: 'dropdown-link dropdown-item', target: '_self' %></li>
            <% if current_user.administrator? %>
            <li role="separator" class=""></li>
            <li><%= link_to 'Admin Home', admin_path, class: 'dropdown-link dropdown-item', target: '_self' %></li>
            <li><%= link_to 'Users', admin_users_path, class: 'dropdown-link dropdown-item', target: '_self' %></li>

            <li><%= link_to 'Announcements', admin_announcements_path, class: 'dropdown-link dropdown-item', target: '_self' %></li>
            <li><%= link_to 'Job Manager', mission_control_jobs_path, class: 'dropdown-link dropdown-item', target: '_self' %></li>
            <% end %>
          </ul>
        </li> <!-- End account management -->
      </ul>

    <% end %>
  </div>
</header>
