<div class="sidebar d-flex flex-column flex-shrink-0 bg-body-tertiary sidebar-w">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="#" class="nav-link active py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
          <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"></use></svg>
        </a>
      </li>
      <li>
        <%= link_to root_path, class: "nav-link #{make_active?({controller: 'home'}) ? 'active' : ''} py-3 border-bottom rounded-0", 'data-bs-toggle':'tooltip', 'data-bs-placement':'right', 'aria-label':'Dashboard', 'data-bs-original-title':'Dashboard' do %>
          <i class="bi bi-speedometer2" aria-hidden="true" title="Dashboard" alt="Dashboard"></i>
        <% end %>
      </li>
      <li>
        <%= link_to cases_path, data: { turbo_prefetch: false }, class: "nav-link #{make_active?({path: 'case'}) ? 'active' : ''} py-3 border-bottom rounded-0", 'data-bs-toggle':'tooltip', 'data-bs-placement':'right', 'aria-label':'Relevancy Cases', 'data-bs-original-title':'Relevancy Cases' do %>
          <i class="bi bi-briefcase" aria-hidden="true" title="Relevancy Cases" alt="Relevancy Cases"></i>
        <% end %>
      </li>
      <li>
        <%= link_to books_path, class: "nav-link #{make_active?({path: 'book'}) ? 'active' : ''} py-3 border-bottom rounded-0", 'data-bs-toggle':'tooltip', 'data-bs-placement':'right', 'aria-label':'Judgements', 'data-bs-original-title':'Judgements' do %>
          <i class="bi bi-book" aria-hidden="true" title="Judgement Books" alt="Judgement Books"></i>
        <% end %>
      </li>
      <li>
        <%= link_to scorers_path, data: { turbo_prefetch: false }, class: "nav-link #{make_active?({path: 'scorers'}) ? 'active' : ''} py-3 border-bottom rounded-0", 'data-bs-toggle':'tooltip', 'data-bs-placement':'right', 'aria-label':'Scorers', 'data-bs-original-title':'Scorers' do %>
          <i class="bi bi-list-task" aria-hidden="true" title="Scorers" alt="Scorers"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "#{root_path}notebooks/lab/index.html", target: '_blank', class: "nav-link #{make_active?({path: 'case'}) ? 'sidebar-context-case' : ''} py-3 border-bottom rounded-0", 'data-bs-toggle':'tooltip', 'data-bs-placement':'right', 'aria-label':'Notebooks', 'data-bs-original-title':'Notebooks' do %>
          <i class="bi bi-journal-medical" aria-hidden="true" title="Notebooks" alt="Notebooks"></i>
        <% end %>
      </li>
      <li>
        <%= link_to search_endpoints_path, class: "nav-link #{make_active?({path: 'search_endpoint'}) ? 'active' : ''} py-3 border-bottom rounded-0", 'data-bs-toggle':'tooltip', 'data-bs-placement':'right', 'aria-label':'Search Endpoints', 'data-bs-original-title':'Search Endpoints' do %>
          <i class="bi bi-send-fill" aria-hidden="true" title="Search Endpoints" alt="Search Endpoints"></i>
        <% end %>
      </li>
      <li>
        <%= link_to teams_path, data: { turbo_prefetch: false }, class: "nav-link #{make_active?({path: 'teams'}) ? 'active' : ''} py-3 border-bottom rounded-0", 'data-bs-toggle':'tooltip', 'data-bs-placement':'right', 'aria-label':'Search Endpoints', 'data-bs-original-title':'Search Endpoints' do %>
          <i class="bi bi-people-fill" aria-hidden="true" title="Teams" alt="Teams"></i>
        <% end %>
      </li>
    </ul>
    <div class="dropdown border-top">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag current_user.avatar_url, size: '24x24', class: 'rounded-circle' %>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><%= render NewCaseComponent.new(button_text: "Create case...", button_class: "dropdown-item") %></li>
        <li><%= link_to "Profile", profile_path, class:'dropdown-item' %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Log out", logout_path, class:'dropdown-item' %></li>
      </ul>
    </div>
  </div>
