<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>Quepid -- Relevant Search Solved</title>
    <%= favicon_link_tag asset_path "favicon.ico" %>
    <meta name="description" content="Tired of irrelevant search results? Use Quepid products & services to help improve the quality and relevancy of your search results.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_importmap_tags 'application2' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'admin' %>

  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <%= render 'layouts/header' %>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= render 'layouts/footer' %>

  </body>
</html>
