<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Quepid -- Relevant Search Solved</title>
<meta name="description" content="Tired of irrelevant search results? Use Quepid products & services to help improve the quality and relevancy of your search results.">
<meta name="viewport" content="width=device-width">

<%= stylesheet_link_tag 'application', media: 'all' %>

<%= csrf_meta_tags %>

</head>
<body class='admin'>
  <%= render 'cookies_eu/consent_banner', link: '/cookies', target: '_blank' unless Rails.application.config.cookies_url.blank? %>

  <div class="main-container">
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>
  </div>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'admin' %>

  <%= render 'layouts/common_js' %>

</body>
</html>
