<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quepid -- Relevant Search Solved</title>
    <%= favicon_link_tag asset_path "favicon.ico" %>
    <meta name="description" content="Tired of irrelevant search results? Use Quepid products & services to help improve the quality and relevancy of your search results.">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'analytics' %>
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <%= render 'layouts/header' %>
      <% if @case.public? %>
        <!-- This is probably not the best place for this label long term, but for now -->
        <script>
          $(function() {
            new ClipboardJS('#public-url');
          });
        </script>

        <h3 class="public-share">
          <a id='public-url' href="#" data-clipboard-text="<%= analytics_tries_visualization_path(@case.public_id) %>">
            <span class="badge bg-success">Public</span>
            <i
              class="clipboard-icon bi bi-clipboard"
              aria-hidden="true"
              title="Copy public url to your clipboard"
              alt="Copy public url to your clipboard"
            ></i>
          </a>
        </h3>
      <% end %>
      <p>
        <% if @current_user %>
          <%= button_to (@case.public? ? 'Make Private' : 'Make public'), analytics_case_visibility_path(@case), method: :patch, class: 'btn btn-danger btn-sm' %>
        <% end %>
      </p>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= render 'layouts/footer' %>

  </body>
</html>
