<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quepid -- Relevant Search Solved</title>
    <%= favicon_link_tag asset_path "favicon.ico" %>
    <meta name="description" content="Tired of irrelevant search results? Use Quepid products & services to help improve the quality and relevancy of your search results.">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'analytics' %>
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <%= render 'layouts/header' %>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <%= yield %>
      </div>


      <div id="vis2"></div>

<script type="text/javascript">
  var spec = "https://raw.githubusercontent.com/vega/vega/master/docs/examples/bar-chart.vg.json";
  vegaEmbed('#vis2', spec).then(function(result) {
    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
  }).catch(console.error);
</script>
    </main>

    <%= render 'layouts/footer' %>

    <%= render 'layouts/common_js' %>

  </body>
</html>
