<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Quepid -- Relevant Search Solved</title>
<%= favicon_link_tag asset_path "favicon.ico" %>
<meta name="description" content="Tired of irrelevant search results? Use Quepid to help improve the quality and relevancy of your search results.">
<meta name="viewport" content="width=device-width">

<%= stylesheet_link_tag 'core', media: 'all' %>
<%= stylesheet_link_tag 'angular-json-explorer', 'angular-wizard', 'ng-tags-input.min', 'ng-tags-input.bootstrap.min', media: 'all' %>
<%= csrf_meta_tags %>

<base href="<%= ENV['RAILS_RELATIVE_URL_ROOT'] %>/">
</head>
<body ng-app="QuepidApp">
  <%= render 'layouts/header_core_app' %>

  <div id="main-content">
    <%= yield %>
  </div>

  <%= render 'layouts/footer_core_app' %>

  <%= javascript_include_tag 'jquery_bundle' %>
  <%= javascript_include_tag 'angular_app' %>
  <%= javascript_include_tag 'angular_templates' %>
  <%= javascript_include_tag 'quepid_angular_app' %>

  <script>
    angular.module('QuepidApp')
      .run([
        'bootstrapSvc', 'configurationSvc',
        function(bootstrapSvc, configurationSvc) {
          configurationSvc.setCommunalScorersOnly('<%= Rails.application.config.communal_scorers_only %>');
          configurationSvc.setQueryListSortable('<%= Rails.application.config.query_list_sortable %>');

          bootstrapSvc.run();
        }
      ]);
  </script>

</body>
</html>
