    <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Quepid -- Relevant Search Solved</title>
<%= favicon_link_tag asset_path "favicon.ico" %>

<!-— facebook open graph tags -->
<meta property="og:type" content="website" />
<meta property="og:url" content="http://ruraljuror.com/" />
<meta property="og:title" content="Rural Juror" />
<meta property="og:description" content="The film, based on a Kevin Grisham novel (John Grisham’s brother), revolves around a Southern–born lawyer named Constance Justice." />
<meta property="og:image" content="http://ruraljuror.com/heroimage.png" />

<!-— twitter card tags additive with the og: tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" value="ruraljuror.com" />
<meta name="twitter:title" value="Rural Juror" />
<meta name="twitter:description" value="The film, based on a Kevin Grisham novel (John Grisham’s brother), revolves around a Southern–born lawyer named Constance Justice." />
<meta name="twitter:image" content="http://ruraljuror.com/heroimage.png" />
<meta name="twitter:url" value="http://www.ruraljuror.com/" />
<meta name="twitter:label1" value="Opens in Theaters" />
<meta name="twitter:data1" value="December 1, 2015" />
<meta name="twitter:label2" value="Or on demand" />
<meta name="twitter:data2" value="at Hulu.com" />

<meta name="viewport" content="width=device-width">

<%= stylesheet_link_tag 'home', media: 'all' %>
<%= stylesheet_link_tag 'ng-json-explorer/dist/angular-json-explorer', 'angular-wizard/dist/angular-wizard', 'ng-tags-input/build/ng-tags-input.min.css', 'ng-tags-input/build/ng-tags-input.bootstrap.min.css', media: 'all' %>
<%= csrf_meta_tags %>

<base href="/">
</head>
<body ng-app="QuepidApp">
  <%= render 'cookies_eu/consent_banner', link: '/cookies', target: '_blank' unless Rails.application.config.cookies_url.blank? %>

  <%= render 'layouts/header' %>

  <div id="main-content">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'home' %>

  <script>
    angular.module('QuepidApp')
      .run([
        //'secureRedirectSvc', 'bootstrapSvc', 'configurationSvc',
        'bootstrapSvc', 'configurationSvc',
        function(bootstrapSvc, configurationSvc) {
        //function(secureRedirectSvc, bootstrapSvc, configurationSvc) {
          var appDebug      = '<%= Rails.env == 'development' ? 'true' : 'false' %>';
          var debugPort     = '<%= request.port %>';

          configurationSvc.setCommunalScorersOnly('<%= Rails.application.config.communal_scorers_only %>');
          configurationSvc.setQueryListSortable('<%= Rails.application.config.query_list_sortable %>');

          //if (appDebug === 'true') {
            //secureRedirectSvc.debugServer(debugPort);
          //}

          var bootstrapCaseNo = <%= @bootstrap_case_no || 0 %>;
          var bootstrapTryNo  = <%= @bootstrap_try_no || 0 %>;

          bootstrapSvc.run(bootstrapCaseNo, bootstrapTryNo);
        }
      ]);
  </script>

  <%= render 'layouts/common_js' %>
</body>
</html>
