<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<%= favicon_link_tag asset_path "favicon.ico" %>

<!-- Probably better way of doing this -->
<% if flash[:unfurl] %>
<!-- We have unfurl -->

<title>Case <%= flash[:unfurl]["case_name"] %></title>

<!-— facebook open graph tags -->
<meta property="og:type" content="website" />
<% if flash[:unfurl]["id"] %>
<meta property="og:url" content="<%=case_home_url(id: flash[:unfurl]["id"] ) %>" />
<% end %>
<meta property="og:title" content="Case <%= flash[:unfurl]["case_name"] %>" />
<meta property="og:description" content="Case <%= flash[:unfurl]["case_name"] %> Description here." />
<meta property="og:image" content="<%= image_url "quepid-icon.png" %>" />

<!-— twitter card tags additive with the og: tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@quepid_search">
<meta name="twitter:domain" value="<%=URI.parse(root_url).host%>" />
<meta name="twitter:title" value="Case <%= flash[:unfurl]["case_name"] %>" />
<meta name="twitter:description" value="Case <%= flash[:unfurl]["case_name"] %> Description here" />
<meta name="twitter:image" content="<%= image_url "quepid-icon.png" %>" />
<% if flash[:unfurl]["id"] %>
<meta name="twitter:url" value="<%=case_home_url(id: flash[:unfurl]["id"] ) %>" />

<meta name="twitter:label1" value="Latest Try" />
<meta name="twitter:data1" value="<%=Case.find_by_id(flash[:unfurl]["id"]).tries.latest.try_number %>" />
<% end %>
<% else %>
<!-- We DO NOT have unfurl -->

<title>Quepid -- Relevant Search Solved</title>

<!-— facebook open graph tags -->
<meta property="og:type" content="website" />
<meta name="twitter:site" content="@quepid_search">
<meta property="og:url" content="<%=root_url%>" />
<meta property="og:title" content="Quepid -- Relevant Search Solved" />
<meta property="og:description" content="Tired of irrelevant search results? Use Quepid products & services to help improve the quality and relevancy of your search results." />
<meta property="og:image" content="<%= image_url "quepid-icon.png" %>" />

<!-— twitter card tags additive with the og: tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:domain" value="<%=URI.parse(root_url).host%>" />
<meta name="twitter:title" value="Quepid -- Relevant Search Solved" />
<meta name="twitter:description" value="Tired of irrelevant search results? Use Quepid products & services to help improve the quality and relevancy of your search results." />
<meta name="twitter:image" content="<%= image_url "quepid-icon.png" %>" />
<meta name="twitter:url" value="<%=root_url%>" />
<% end %>

<meta name="viewport" content="width=device-width">

<%= stylesheet_link_tag 'start', media: 'all' %>
<%= csrf_meta_tags %>

</head>
<body class='admin'>

  <div class="main-container">
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>
  </div>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'start' %>

  <%= render 'layouts/common_js' %>

</body>
</html>
